{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>Activate {{.Vars.User.Email}}</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	<p>Are you sure you want to activate {{.Vars.User.Email}}?</p>

	<form action="{{Path "account.management.user.activate.post" "{userID}" .Vars.User.ID}}{{.URL.Query.String}}" method="POST">
		{{template "com.form.csrf" .}}

		<div class="bag reverse">
			<button class="push-inline-end">Yes, activate {{.Vars.User.Email}}</button>

			<a href="{{Path "account.management.user.list"}}{{.URL.Query.String}}">Cancel</a>
		</div>
	</form>
</div>

{{end}}
