{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<h1>User management</h1>

<form class="bag">
	{{template "com_query_inputs" .WithProps "Skip" (Slice "search" "page")}}

	<input type="search" aria-label="Search" name="search" value="{{.URL.Query.Get "search"}}" placeholder="Search" class="grow">
	<button>Search</button>
</form>

{{end}}

{{define "view_body"}}

<table class="data-table">
	<thead>
		<tr>
			<th>Email {{template "com_sort" .WithProps "Key" "email" "Direction" "desc"}}</th>
			<th>Last sign in {{template "com_sort" .WithProps "Key" "last-sign-in"}}</th>
			<th class="text-right no-wrap">
				{{if .Passport.Account.CanInviteUsers}}
					<a href="{{Path "account.management.user.new"}}{{.URL.Query.String}}">Invite user</a>
				{{end}}
			</th>
		</tr>
	</thead>

	<tbody>
		{{range .Vars.Users.Page.Rows}}
			<tr{{if eq .ID $.Session.HighlightID}} class="data-table__highlight"{{end}}>
				<td><a href="mailto:{{.Email}}">{{.Email}}</a></td>
				<td>
					{{if not .LastSignedInAt.IsZero}}
						<time
							title="{{FormatTime .LastSignedInAt "RFC1123"}}"
							datetime="{{FormatTime .LastSignedInAt "RFC3339"}}"
							data-skip
						>{{FormatDuration (TimeSince .LastSignedInAt)}} ago</time>
						({{.LastSignedInMethod}})
					{{end}}
				</td>
				<td class="text-right">
					{{if .IsSuspended}}
						Suspended
					{{end}}

					{{if .VerifiedAt.IsZero}}
						Unverified
					{{else if .ActivatedAt.IsZero}}
						{{if $.Passport.Account.CanActivateUsers}}
							<a href="{{Path "account.management.user.activate" "{userID}" .ID}}{{$.URL.Query.String}}">Activate</a>
						{{else}}
							Unactivated
						{{end}}
					{{end}}

					{{if and (not .TOTPResetRequestedAt.IsZero) $.Passport.Account.CanReviewTOTPResets}}
						<a href="{{Path "account.management.user.totp_reset_review" "{userID}" .ID}}{{$.URL.Query.String}}">Review 2FA reset request</a>
					{{end}}

					{{if $.Passport.Account.CanChangeRoles .ID}}
						<a href="{{Path "account.management.user.edit" "{userID}" .ID}}{{$.URL.Query.String}}">Edit</a>
					{{end}}
				</td>
			</tr>
		{{else}}
			<tr class="data-table__empty">
				<td colspan="3">No users found</td>
			</tr>
		{{end}}
	</tbody>
</table>

{{template "com_pagination" .WithProps "Book" .Vars.Users}}

{{end}}
