{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>{{.T "site.account.user_management.activate.title" "user_email" .Vars.User.Email}}</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	{{.T "p" "site.account.user_management.activate.are_you_sure" "user_email" .Vars.User.Email}}

	<form action="{{Path "account.management.user.activate.post" "{userID}" .Vars.User.ID}}{{.URL.Query.String}}" method="POST">
		{{template "com.form.csrf" .}}

		<div class="bag reverse">
			<button class="push-inline-end">{{.T "site.account.user_management.activate.yes_button" "user_email" .Vars.User.Email}}</button>

			<a href="{{Path "account.management.user.list"}}{{.URL.Query.String}}">{{.T "site.account.user_management.activate.cancel_button"}}</a>
		</div>
	</form>
</div>

{{end}}
