{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<h1>{{.T "site.account.user_management.list.title"}}</h1>

<form class="bag">
	{{template "com.form.query_params" .WithProps "Skip" (Slice "search" "page")}}

	<input type="search" aria-label="Search" name="search" value="{{.URL.Query.Get "search"}}" placeholder="{{.T "site.account.user_management.list.search_placeholder"}}" class="grow"{{if .URL.Query.Has "search"}} autofocus{{end}}>
	<button>{{.T "site.account.user_management.list.search_button"}}</button>
</form>

{{end}}

{{define "view.body"}}

<table class="data-table">
	<thead>
		<tr>
			<th>{{.T "site.account.user_management.list.email_heading"}} {{template "com.datatable.sort" .WithProps "Key" "email" "Direction" "asc"}}</th>
			<th>{{.T "site.account.user_management.list.last_sign_in_heading"}} {{template "com.datatable.sort" .WithProps "Key" "last-sign-in" "Direction" "desc"}}</th>
			<th class="text-right no-wrap">
				{{if .Passport.Account.CanInviteUsers}}
					<a href="{{Path "account.management.user.new"}}{{.URL.Query.String}}">{{.T "site.account.user_management.list.invite_button"}}</a>
				{{end}}
			</th>
		</tr>
	</thead>

	<tbody>
		{{range .Vars.Users.Page.Rows}}
			<tr{{if eq .ID $.Session.HighlightID}} class="data-table__highlight"{{end}}>
				<td><a href="mailto:{{.Email}}">{{.Email}}</a></td>
				<td>
					{{if .HasSignedIn}}
						<time datetime="{{FormatTime .LastSignedInAt "RFC3339"}}" title="{{FormatTime .LastSignedInAt "2006-01-02 15:04 -07:00"}}">
							{{$.T "site.account.user_management.list.last_signed_in_ago" "time_since_last_signed_in" (TimeSince .LastSignedInAt)}}
						</time>
						({{$.T .LastSignedInMethod}})
					{{end}}
				</td>
				<td class="text-right">
					{{if .IsSuspended}}
						Suspended
					{{end}}

					{{if not .IsVerified}}
						{{$.T "site.account.user_management.list.unverified"}}
					{{else if not .IsActivated}}
						{{if $.Passport.Account.CanActivateUsers}}
							<a href="{{Path "account.management.user.activate" "{userID}" .ID}}{{$.URL.Query.String}}">{{$.T "site.account.user_management.list.activate_button"}}</a>
						{{else}}
							{{$.T "site.account.user_management.list.unactivated"}}
						{{end}}
					{{end}}

					{{if and (not .TOTPResetRequestedAt.IsZero) $.Passport.Account.CanReviewTOTPResets}}
						<a href="{{Path "account.management.user.totp_reset_review" "{userID}" .ID}}{{$.URL.Query.String}}">{{$.T "site.account.user_management.list.review_totp_request_button"}}</a>
					{{end}}

					{{if $.Passport.Account.CanChangeRoles .ID}}
						<a href="{{Path "account.management.user.edit" "{userID}" .ID}}{{$.URL.Query.Replace "view" ""}}">{{$.T "site.account.user_management.list.edit_button"}}</a>
					{{end}}
				</td>
			</tr>
		{{else}}
			<tr class="data-table__empty">
				<td colspan="3">{{.T "site.account.user_management.list.no_results"}}</td>
			</tr>
		{{end}}
	</tbody>
</table>

{{template "com.pagination" .WithProps "Book" .Vars.Users}}

{{end}}
