{{define "subject"}}Reset password attempt at {{.URL.Host}}{{end}}

{{define "plain" -}}

Reset password attempt

A password reset was requested at {{.URL.Host}}, but you don't seem to have an account with us.

If you didn't request this password reset yourself you can ignore this email.

Otherwise, you can sign up with us by pasting the following URL into your browser:
{{.URL.Scheme}}://{{.URL.Host}}

{{- end}}

{{define "html" -}}

<h1>Reset password attempt</h1>
<p>A password reset was requested at {{.URL.Host}}, but you don't seem to have an account with us.</p>
<p>If you didn't request this password reset yourself you can ignore this email.</p>

<p>
	Otherwise, you can
	<a href="{{.URL.Scheme}}://{{.URL.Host}}">sign up with us here</a>.
</p>

<p>
	If the link above does not work paste the following URL into your browser:<br>
	{{.URL.Scheme}}://{{.URL.Host}}
</p>

{{- end}}
