{{define "view_head"}}

<div class="center">
	<h1>Sign up</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<p>You'll be able to choose your password after verifying your email address.</p>

	<form action="{{Path "account.sign_up.post"}}" method="POST">
		<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

		<label for="sign-up__email">Email</label>
		<input id="sign-up__email" type="email" name="email" value="{{.Form.Get "email"}}" placeholder="email@example.com" autocomplete="email" required pattern=".+?@.+?(\..+?)+" maxlength="100">
		<p class="error">{{.Errors.Get "email"}}</p>

		<div class="bag reverse">
			<button type="submit" class="push-inline-end">Sign up</button>

			<a href="{{Path "account.sign_in"}}">Already have an account?</a>
		</div>
	</form>
</div>

{{end}}
