{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<h1>User management</h1>

<form class="bag">
	<input type="search" aria-label="Search" name="search" value="{{.URL.Query.Get "search"}}" placeholder="Search" class="grow">
	<button>Search</button>
</form>

{{end}}

{{define "view_body"}}

<table class="management">
	<tr>
		<th>Email</th>
		<th>Last sign in</th>
		<th class="text-right no-wrap">
			{{if .Passport.Account.CanInviteUsers}}
				<a href="{{Path "account.management.user.new"}}{{$.URL.Query.String}}">Invite user</a>
			{{end}}
		</th>
	</tr>

	{{range .Vars.Users.Page.Rows}}
		<tr{{if eq .ID $.Session.HighlightID}} class="management__highlight"{{end}}>
			<td><a href="mailto:{{.Email}}">{{.Email}}</a></td>
			<td>
				{{if not .LastSignedInAt.IsZero}}
					<time datetime="{{FormatTime .LastSignedInAt "RFC3339"}}" data-date="full">{{FormatTime .LastSignedInAt "DateTime"}}</time>
					({{.LastSignedInMethod}})
				{{end}}
			</td>
			<td class="text-right">
				{{if .VerifiedAt.IsZero}}
					Unverified
				{{else if .ActivatedAt.IsZero}}
					{{if $.Passport.Account.CanActivateUsers}}
						<a href="{{Path "account.management.user.activate" ":userID" .ID}}{{$.URL.Query.String}}">Activate</a>
					{{else}}
						Unactivated
					{{end}}
				{{end}}

				{{if and (not .TOTPResetRequestedAt.IsZero) $.Passport.Account.CanReviewTOTPResets}}
					<a href="{{Path "account.management.user.totp_reset_review" ":userID" .ID}}{{$.URL.Query.String}}">Review 2FA reset request</a>
				{{end}}

				{{if $.Passport.Account.CanChangeRoles .ID}}
					<a href="{{Path "account.management.user.edit" ":userID" .ID}}{{$.URL.Query.String}}">Edit</a>
				{{end}}
			</td>
		</tr>
	{{else}}
		<tr class="management__empty">
			<td colspan="3">No users found</td>
		</tr>
	{{end}}
</table>

{{template "com_pagination" .WithComData "Book" .Vars.Users}}

{{end}}
