{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<div class="center">
	<h1>Deny {{.Vars.User.Email}}</h1>
</div>

{{end}}

{{define "view_body"}}

{{$action := .URL.Query.Get "action"}}

<div class="center">
	<p>Are you sure you want to deny this request?</p>

	<form action="{{Path "account.management.user.totp_reset_deny.post" ":userID" .Vars.User.ID}}" method="POST">
		{{template "com_csrf_input" .}}

		<div class="bag reverse">
			<button type="submit">Yes, deny this request</button>
			<a href="{{Path "account.management.user.totp_reset_review" ":userID" .Vars.User.ID}}" class="btn btn--alt push-inline-end">No, go back</a>
		</div>
	</form>
</div>

{{end}}
