{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	{{if .Vars.RecoveryCodes}}
		<h1>{{.T "site.account.totp.recovery_codes.regenerate.new_codes_title"}}</h1>
	{{else}}
		<h1>{{.T "site.account.totp.recovery_codes.regenerate.title"}}</h1>
	{{end}}
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	{{if .Vars.RecoveryCodes}}
		<div class="warning-banner">
			{{.T "p" "site.account.totp.recovery_codes.regenerate.previous_no_longer_valid_warning"}}
		</div>

		{{template "com.recovery_codes" .WithProps "Codes" .Vars.RecoveryCodes}}
	{{else}}
		{{if ge (len .Vars.HashedRecoveryCodes) 1}}
			{{.T "p" "site.account.totp.recovery_codes.regenerate.you_have_n_remaining" "remaining_codes" (len .Vars.HashedRecoveryCodes)}}
			{{.T "p" "site.account.totp.recovery_codes.regenerate.generate_new_instructions"}}
		{{end}}

		{{if eq (len .Vars.HashedRecoveryCodes) 0}}
			<div class="error-banner">
				{{.T "p" "site.account.totp.recovery_codes.regenerate.none_remaining_warning"}}
			</div>
		{{else}}
			<div class="warning-banner">
				{{.T "p" "site.account.totp.recovery_codes.regenerate.generate_new_will_invalidate_warning"}}
			</div>
		{{end}}

		<form action="{{Path "account.totp.recovery_codes.post"}}" method="POST">
			{{template "com.form.csrf" .}}

			{{template "com.form.passcode" .WithProps
				"Label" (.T "site.account.totp.recovery_codes.regenerate.passcode_label")
				"Name" "totp"
				"Required" true
				"Autocomplete" "one-time-code"
			}}

			<div class="bag reverse">
				{{if eq (len .Vars.HashedRecoveryCodes) 0}}
					<button>{{.T "site.account.totp.recovery_codes.regenerate.generate_codes_button"}}</button>
				{{else}}
					<button>{{.T "site.account.totp.recovery_codes.regenerate.replace_codes_button"}}</button>
				{{end}}

				{{if eq .Session.TOTPMethod "sms"}}
					<button formnovalidate formaction="{{Path "account.totp.sms.send_passcode.post"}}" class="btn--alt">{{.T "site.account.totp.recovery_codes.regenerate.send_passcode_sms_button"}}</button>
				{{end}}
			</div>
		</form>
	{{end}}
</div>

{{end}}
