{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<div class="center">
	<h1>Sign in with recovery code</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<p>
		Please verify your identity by entering one of your recovery codes.
		Once a recovery code has been used it can't be used again.
	</p>

	<form action="{{Path "account.sign_in.recovery_code.post"}}" method="POST">
		{{template "com_csrf_input" .}}

		{{template "com_recovery_code_input" .WithProps
			"Label" "Recovery code"
			"Name" "recovery-code"
			"Required" true
			"Autocomplete" "off"
			"Autofocus" true
		}}

		<div class="bag reverse">
			<button type="submit" class="push-inline-end">Sign in</button>

			<a href="{{Path "account.sign_in.totp"}}">Use a passcode</a>
		</div>
	</form>
</div>

{{end}}
