{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<div class="center">
	<h1>Email sent</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<p>We've sent a link to your email address which you can use to sign in.</p>
	<p>It will expire shortly and can only be used once.</p>
</div>

{{end}}
