{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<div class="center">
	<h1>Sign in</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<form action="{{Path "account.sign_in.post"}}" method="POST">
		{{template "com_csrf_input" .}}

		{{template "com_email_input" .WithComData
			"Label" "Email"
			"Name" "email"
			"Required" true
			"Autocomplete" "username"
		}}

		{{template "com_password_input" .WithComData
			"Label" "Password"
			"Name" "password"
			"Required" true
			"Autocomplete" "current-password"
		}}

		<div class="bag reverse">
			<button type="submit" class="push-inline-end">Sign in</button>

			<div>
				{{if .Config.SignUpEnabled}}<a href="{{Path "account.sign_up"}}">Sign up</a><br>{{end}}
				<a href="{{Path "account.reset_password"}}">Forgotten your password?</a>
			</div>
		</div>
	</form>

	{{if and .Config.GoogleSignInEnabled .Config.GoogleSignInClientID}}
		<script src="https://accounts.google.com/gsi/client" async defer></script>

		<div class="sign-in-alt text-center" style="display: none;">
			<p class="sign-in-alt__title">Or</p>

			<div
				id="g_id_onload"
				data-client_id="{{.Config.GoogleSignInClientID}}"
				data-context="signin"
				data-ux_mode="popup"
				data-login_uri="{{.URL.Scheme}}://{{.URL.Host}}/account/sign-in/google"
				data-auto_prompt="false"
			></div>

			<div
				class="g_id_signin"
				data-type="standard"
				data-shape="rectangle"
				data-theme="outline"
				data-text="signin_with"
				data-size="large"
				data-logo_alignment="center"
			></div>
		</div>

		<script>
			onMount(".sign-in-alt", node => {
				node.style.display = "block"
			})
		</script>
	{{end}}
</div>

{{end}}
