{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<div class="center">
	<h1>Sign in</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<form action="{{Path "account.sign_in.post"}}" method="POST">
		{{template "com_csrf_input" .}}

		{{template "com_email_input" .WithComData
			"Label" "Email"
			"Name" "email"
			"Required" true
			"Autocomplete" "username"
			"Autofocus" true
		}}

		{{template "com_password_input" .WithComData
			"Label" "Password"
			"Name" "password"
			"Required" true
			"Autocomplete" "current-password"
		}}

		<div class="bag reverse">
			<button type="submit" class="push-inline-end">Sign in</button>

			<div>
				{{if .Config.SignUpEnabled}}<a href="{{Path "account.sign_up"}}">Sign up</a><br>{{end}}
				<a href="{{Path "account.reset_password"}}">Forgotten your password?</a>
			</div>
		</div>
	</form>

	{{$isGoogleSignInEnabled := and .Config.GoogleSignInEnabled .Config.GoogleSignInClientID}}
	{{$isFacebookSignInEnabled := and .Config.FacebookSignInEnabled .Config.FacebookSignInAppID}}
	{{if or $isGoogleSignInEnabled $isFacebookSignInEnabled}}
		<div class="sign-in-alt text-center" style="display: none;">
			<p class="sign-in-alt__title">Or</p>

			{{if $isGoogleSignInEnabled}}
				<script src="https://accounts.google.com/gsi/client" async defer></script>
				<div
					id="g_id_onload"
					data-client_id="{{.Config.GoogleSignInClientID}}"
					data-context="signin"
					data-ux_mode="popup"
					data-login_uri="{{.URL.Scheme}}://{{.URL.Host}}/account/sign-in/google"
					data-auto_prompt="false"
				></div>
				<div
					class="g_id_signin"
					data-type="standard"
					data-shape="rectangle"
					data-theme="outline"
					data-text="signin_with"
					data-size="large"
					data-logo_alignment="center"
				></div>
			{{end}}

			{{if $isFacebookSignInEnabled}}
				<div id="fb-root"></div>
				<script
					src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v18.0&appId={{.Config.FacebookSignInAppID}}"
					crossorigin="anonymous"
					nonce="PewzUoD4"
					async
					defer
				></script>

				<script>
					function onFacebookSignIn () {
						FB.getLoginStatus(response => {
							if (response.status !== "connected") {
								console.error("the user either did not sign in to Facebook or did not authorise the app", response)

								return
							}

							if (!response.authResponse) {
								console.error("no auth response", response)

								return
							}

							const userId = response.authResponse.userID
							const accessToken = response.authResponse.accessToken

							FB.api("/me?fields=email", response => {
								const email = response.email
								const form = document.getElementById("facebook-sign-in")

								form.querySelector("[name='user-id']").value = userId
								form.querySelector("[name='access-token']").value = accessToken
								form.querySelector("[name='email']").value = email

								form.submit()
							})
						})
					}
				</script>
				<div
					class="fb-login-button"
					data-size="large"
					data-button-type="continue_with"
					data-layout="default"
					data-auto-logout-link="false"
					data-use-continue-as="false"
					data-scope="email"
					data-onlogin="onFacebookSignIn"
				></div>
				<form action="/account/sign-in/facebook" method="POST" id="facebook-sign-in">
					{{template "com_csrf_input" .}}

					<input type="hidden" name="user-id">
					<input type="hidden" name="access-token">
					<input type="hidden" name="email">
				</form>
			{{end}}
		</div>

		<script>
			onMount(".sign-in-alt", node => {
				node.style.display = "block"
			})
		</script>
	{{end}}
</div>

{{end}}
