{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>Change password</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	{{if .Session.KnownPasswordBreachCount}}
		<div class="warning-banner">
			<p>
				The password you're currently using appears <span data-locale-number>{{.Session.KnownPasswordBreachCount}}</span> {{if gt .Session.KnownPasswordBreachCount 1}}times{{else}}time{{end}}
				in a <a href="https://haveibeenpwned.com" target="_blank" rel="noopener noreferrer">database of security breaches</a> and isn't considered to be secure.
			</p>
			<p>We recommend that you change it to a more secure one as soon as possible.</p>

			{{if and (not .Config.TOTPRequired) (not .User.HasActivatedTOTP)}}
				<p>Also consider <a href="{{Path "account.totp.setup"}}">setting up two-factor authentication</a> to help secure your account even further.</p>
			{{end}}
		</div>
	{{end}}

	<form action="{{Path "account.change_password.post"}}" method="POST">
		{{template "com.form.csrf" .}}

		{{template "com.form.password" .WithProps
			"Label" "Old password"
			"Name" "old-password"
			"Required" true
			"Autocomplete" "current-password"
		}}

		{{template "com.form.password" .WithProps
			"Label" "New password"
			"Name" "new-password"
			"Required" true
			"Autocomplete" "new-password"
		}}

		<div class="bag reverse">
			<button>Update password{{if .Session.Redirect}} and continue{{end}}</button>

			{{if .Session.Redirect}}
				<a href="{{.Session.Redirect}}" class="btn btn--alt">Change later</a>
			{{end}}
		</div>
	</form>
</div>

{{end}}
