{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<div class="center">
	{{if .ErrorMessage}}
		<h1>Account verification error</h1>
	{{else}}
		<h1>Account verification</h1>
	{{end}}
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	{{if .ErrorMessage}}
		<p>If your verification link has expired <a href="{{Path "account.sign_up"}}">sign up again</a> using the same email address and we'll send you a new one.</p>
	{{else if .Session.IsSignedIn}}
		<p>You're already signed in.</p>

		<form action="{{Path "account.sign_out.post"}}" method="POST">
			{{template "com_csrf_input" .}}

			<div class="bag">
				<button type="submit" class="btn--link">Click here to sign out.</button>
			</div>
		</form>
	{{else if not (.URL.Query.Get "token")}}
		<p>Create an account using the <a href="{{Path "account.sign_up"}}">sign up form</a> and we'll send you a link to verify your account.</p>
	{{else}}
		<p>Use the form below to choose a password and we can verify your account.</p>

		<form action="{{Path "account.verify.post"}}{{.URL.Query.String}}" method="POST">
			{{template "com_csrf_input" .}}
			<input type="hidden" name="token" value="{{.URL.Query.Get "token"}}">

			{{template "com_password_input" .WithProps
				"Label" "Choose a password"
				"Name" "password"
				"Required" true
				"Autocomplete" "new-password"
			}}

			<div class="bag reverse">
				<button type="submit">Use this password and verify account</button>
			</div>
		</form>
	{{end}}
</div>

{{end}}
