{{define "subject"}}Activate your account{{end}}

{{define "plain" -}}

Activate your account

To activate your account paste the following URL into your browser:
{{.Addr.Scheme}}://{{.Addr.Host}}/account/activate?token={{.Vars.Token}}

{{- end}}

{{define "html" -}}

<h1>Activate your account</h1>
<p><a href="{{.Addr.Scheme}}://{{.Addr.Host}}/account/activate?token={{.Vars.Token}}">Click here</a> to activate your account.</p>
<p>
  If the link above does not work paste the following URL into your browser:<br>
  {{.Addr.Scheme}}://{{.Addr.Host}}/account/activate?token={{.Vars.Token}}
</p>

{{- end}}
