{{define "subject"}}You've been invited to activate your account at {{.URL.Host}}{{end}}

{{define "plain" -}}

Activate your account

You've been invited to choose a password and activate an account at {{.URL.Host}}.

To activate your account paste the following URL into your browser:
{{.URL.Scheme}}://{{.URL.Host}}{{Path "account.activate"}}?token={{.Vars.Token}}

{{- end}}

{{define "html" -}}

<h1>Activate your account</h1>
<p>You've been invited to choose a password and activate an account at {{.URL.Host}}.</p>
<p><a href="{{.URL.Scheme}}://{{.URL.Host}}{{Path "account.activate"}}?token={{.Vars.Token}}">Click here</a> to activate your account.</p>
<p>
	If the link above does not work paste the following URL into your browser:<br>
	{{.URL.Scheme}}://{{.URL.Host}}{{Path "account.activate"}}?token={{.Vars.Token}}
</p>

{{- end}}
