{{define "subject"}}Reset password request from {{.Addr.Hostname}}{{end}}

{{define "plain" -}}

Reset Your Password

To reset your password paste the following URL into your browser:
{{.Addr.Scheme}}://{{.Addr.Host}}/account/reset-password?token={{.Vars.Token}}

{{- end}}

{{define "html" -}}

<h1>Reset Your Password</h1>
<p><a href="{{.Addr.Scheme}}://{{.Addr.Host}}/account/reset-password?token={{.Vars.Token}}">Click here</a> to reset your password.</p>
<p>
	If the link above does not work paste the following URL into your browser:<br>
	{{.Addr.Scheme}}://{{.Addr.Host}}/account/reset-password?token={{.Vars.Token}}
</p>

{{- end}}
