{{define "subject"}}Sign up attempt at {{.URL.Hostname}}{{end}}

{{define "plain" -}}

Sign up attempt

It looks like you are trying to sign up to {{.URL.Hostname}}, but you already have an account.

If you have forgotten your password you can reset it by pasting the following URL into your browser:
{{.URL.Scheme}}://{{.URL.Host}}{{Path "account.reset_password.new_password"}}?token={{.Vars.Token}}

{{- end}}

{{define "html" -}}

<h1>Sign up attempt</h1>
<p>It looks like you are trying to sign up to {{.URL.Hostname}}, but you already have an account.</p>

<p>
	If you have forgotten your password you can
	<a href="{{.URL.Scheme}}://{{.URL.Host}}{{Path "account.reset_password.new_password"}}?token={{.Vars.Token}}">reset it here</a>
</p>

<p>
	If the link above does not work paste the following URL into your browser:<br>
	{{.URL.Scheme}}://{{.URL.Host}}{{Path "account.reset_password.new_password"}}?token={{.Vars.Token}}
</p>

{{- end}}
