{{define "subject"}}Two-factor authentication disabled{{end}}

{{define "plain" -}}

Two-factor authentication has been disabled for your account.
If you did not do this please contact an administrator as soon as possible.

{{- end}}

{{define "html" -}}

<p>
	Two-factor authentication has been disabled for your account.<br>
	If you did not do this please contact an administrator as soon as possible.
</p>

{{- end}}
