{{define "subject"}}{{.T "site.email.reset_password_sign_up.subject" "host" .URL.Host}}{{end}}

{{define "plain" -}}

{{.T "site.email.reset_password_sign_up.title"}}

{{.T "site.email.reset_password_sign_up.text" "host" .URL.Host}}

{{.T "site.email.reset_password_sign_up.copy_url_to_sign_up" "sign_up_url" .Vars.SignUpURL}}

{{- end}}

{{define "html" -}}

<h1>{{.T "site.email.reset_password_sign_up.title"}}</h1>

{{.T "p" "site.email.reset_password_sign_up.text" "host" .URL.Host}}

{{.T "p" "site.email.reset_password_sign_up.click_to_sign_up" "sign_up_url" .Vars.SignUpURL}}

{{- end}}
