{{define "view"}}

<div class="login center">
	<p class="title">Login</p>

	<form action="{{Path "account.login.post"}}" method="POST">
		<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

		<label for="login__email">Email</label>
		<input id="login__email" type="email" name="email" value="{{.Form.Get "email"}}" placeholder="ash@example.com" autocomplete="email" autofocus required pattern=".+?@.+?(\..+?)+" maxlength="100">
		<p class="error">{{.Errors.Get "email"}}</p>

		<label for="login__password">Password</label>
		<input id="login__password" type="password" name="password" value="{{.Form.Get "password"}}" placeholder="password" autocomplete="current-password" required pattern="[ -~]{8,100}" minlength="8" maxlength="100">
		<p class="error">{{.Errors.Get "password"}}</p>

		<div class="bag">
			<div>
				<a href="{{Path "account.register"}}">Create account</a><br>
				<a href="{{Path "account.reset_password"}}">Reset password</a>
			</div>

			<button type="submit" class="push-inline-end">Login</button>
		</div>
	</form>
</div>

{{end}}
