{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>New role</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	<form action="{{Path "account.management.role.new.post"}}" method="POST">
		{{template "com.form.csrf" .}}

		{{template "com.view.form.role_name" .WithProps
			"Label" "Name"
			"Name" "name"
			"Required" true
		}}

		{{template "com.view.form.role_description" .WithProps
			"Label" "Description"
			"Name" "description"
		}}

		<div class="cols-halves">
			{{template "com.view.form.role_permission_groups" .WithProps
				"Name" "permissions"
				"Groups" .Vars.PermissionGroups
				"Selected" (.Form.GetAll "permissions")
			}}
		</div>

		<div class="bag reverse">
			<button class="push-inline-end">Add role</button>

			<a href="{{Path "account.management.role.list"}}{{.URL.Query.String}}">Cancel</a>
		</div>
	</form>
</div>

{{end}}
