{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<div class="center">
	<h1>Disable two-factor authentication</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	{{if .Config.TOTPRequired}}
		<p>Two-factor authentication is required and can't be disabled.</p>
	{{else}}
		<p>Enter your password to verify your identity and disable two-factor authentication.</p>

		<form action="{{Path "account.totp.disable.post"}}" method="POST">
			{{template "com_csrf_input" .}}

			{{template "com_password_input" .WithComData
				"Label" "Password"
				"Name" "password"
				"Required" true
				"Autocomplete" "current-password"
			}}

			<div class="bag reverse">
				<button type="submit">Disable two-factor authentication</button>
			</div>
		</form>
	{{end}}
</div>

{{end}}
