{{define "subject" -}}

Activate your account

{{- end}}

{{define "plain" -}}

Activate your account

To activate your account paste the following URL into your browser:
https://localhost:8080/account/activate?token={{.Token}}

{{- end}}

{{define "html" -}}

<h1>Activate your account</h1>
<p><a href="https://localhost:8080/account/activate?token={{.Token}}">Click here</a> to activate your account.</p>
<p>
  If the link above does not work paste the following URL into your browser:<br>
  https://localhost:8080/account/activate?token={{.Token}}
</p>

{{- end}}
