{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>{{.T "site.account.totp.disable.verify.title"}}</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	{{if .Config.TOTPRequired}}
		{{.T "p" "site.account.totp.disable.verify.totp_required_message"}}
	{{else}}
		{{.T "p" "site.account.totp.disable.verify.enter_password_to_disable_message"}}

		<form action="{{Path "account.totp.disable.post"}}" method="POST">
			{{template "com.form.csrf" .}}

			{{template "com.form.password" .WithProps
				"Label" (.T "site.account.totp.disable.verify.password_label")
				"Name" "password"
				"Required" true
				"Autocomplete" "current-password"
			}}

			<div class="bag reverse">
				<button>{{.T "site.account.totp.disable.verify.disable_totp_button"}}</button>
			</div>
		</form>
	{{end}}
</div>

{{end}}
