{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>{{.T "site.account.totp.reset.form.title"}}</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	{{.T "p" "site.account.totp.reset.form.text"}}

	<form action="{{Path "account.totp.reset.post"}}{{.URL.Query.String}}" method="POST">
		{{template "com.form.csrf" .}}
		<input type="hidden" name="token" value="{{.URL.Query.Get "token"}}">

		{{template "com.form.password" .WithProps
			"Label" (.T "site.account.totp.reset.form.password_label")
			"Name" "password"
			"Required" true
			"Autocomplete" "current-password"
		}}

		<div class="bag reverse">
			<button>{{.T "site.account.totp.reset.form.reset_button"}}</button>
		</div>
	</form>
</div>

{{end}}
