{{define "view"}}

<div class="register center">
	<p class="title">Thank You</p>

	<p>Your account details have been registered and an email containing an account activation link has been sent to {{or .Vars.Email "you"}}.</p>
</div>

{{end}}
