{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<div class="center">
	{{if .Config.SetupRequired}}
		<h1>Initial system configuration</h1>
	{{else}}
		<h1>System configuration</h1>
	{{end}}
</div>

{{end}}

{{define "view_body"}}

{{$disabled := not .Passport.System.CanUpdateConfig}}

<div class="center">
	<form action="{{Path "system.config.post"}}" method="POST">
		{{template "com_csrf_input" .}}

		<fieldset>
			<legend>Email</legend>

			{{template "com_email_input" .WithComData
				"Label" "System email"
				"Hint" "from address in system emails"
				"Name" "system-email"
				"Value" (.Form.GetOr "system-email" .Config.SystemEmail)
				"Required" true
				"Autocomplete" "email"
				"Disabled" $disabled
			}}

			{{template "com_email_input" .WithComData
				"Label" "Security email"
				"Hint" "for reporting security vulnerabilities"
				"Name" "security-email"
				"Value" (.Form.GetOr "security-email" .Config.SecurityEmail)
				"Required" true
				"Autocomplete" "email"
				"Disabled" $disabled
			}}
		</fieldset>

		<fieldset>
			<legend>Accounts</legend>

			{{template "com_form_select" .WithComData
				"Label" "Enable sign up"
				"Name" "sign-up-enabled"
				"Value" (.Form.GetOr "sign-up-enabled" .Config.SignUpEnabled)
				"Options" (Slice
					(Map "Label" "No (invite only)" "Value" "false")
					(Map "Label" "Yes" "Value" "true")
				)
				"Disabled" (or $disabled .Config.SetupRequired)
			}}

			{{template "com_form_select" .WithComData
				"Label" "Enable automatic account activation on sign up"
				"Name" "sign-up-auto-activate-enabled"
				"Value" (.Form.GetOr "sign-up-auto-activate-enabled" .Config.SignUpAutoActivateEnabled)
				"Options" (Slice
					(Map "Label" "No (manual activation required)" "Value" "false")
					(Map "Label" "Yes" "Value" "true")
				)
				"Disabled" (or $disabled .Config.SetupRequired)
			}}

			{{template "com_form_select" .WithComData
				"Label" "Require two-factor authentication"
				"Name" "totp-required"
				"Value" (.Form.GetOr "totp-required" .Config.TOTPRequired)
				"Options" (Slice
					(Map "Label" "No" "Value" "false")
					(Map "Label" "Yes" "Value" "true")
				)
				"Disabled" $disabled
			}}

			{{template "com_form_select" .WithComData
				"Label" "Enable SMS for two-factor authentication"
				"Name" "totp-sms-enabled"
				"Value" (.Form.GetOr "totp-sms-enabled" .Config.TOTPSMSEnabled)
				"Options" (Slice
					(Map "Label" "No" "Value" "false")
					(Map "Label" "Yes (requires Twilio setup)" "Value" "true")
				)
				"Disabled" $disabled
			}}

			{{template "com_form_select" .WithComData
				"Label" "Enable Google sign in"
				"Hint" "allows Google sign up when sign up is enabled"
				"Name" "google-sign-in-enabled"
				"Value" (.Form.GetOr "google-sign-in-enabled" .Config.GoogleSignInEnabled)
				"Options" (Slice
					(Map "Label" "No" "Value" "false")
					(Map "Label" "Yes (requires Google client id)" "Value" "true")
				)
				"Disabled" $disabled
			}}

			{{template "com_form_input" .WithComData
				"Label" "Google sign in client id"
				"Type" "text"
				"Name" "google-sign-in-client-id"
				"Value" (.Form.GetOr "google-sign-in-client-id" .Config.GoogleSignInClientID)
				"Placeholder" "ABCDEFG123456789"
				"Pattern" `^.+$`
				"MaxLength" 100
				"Disabled" $disabled
			}}
		</fieldset>

		<fieldset>
			<legend>Twilio</legend>

			{{template "com_form_input" .WithComData
				"Label" "SID"
				"Type" "text"
				"Hint" "34 character API SID beginning with AC"
				"Name" "twilio-sid"
				"Value" (.Form.GetOr "twilio-sid" .Config.TwilioSID)
				"Placeholder" "AC0123456789abcdef0123456789abcdef"
				"Pattern" `^AC[0-9a-f]+$`
				"MinLength" 34
				"MaxLength" 34
				"Disabled" $disabled
			}}

			{{template "com_form_input" .WithComData
				"Label" "Token"
				"Type" "text"
				"Hint" "32 character API token"
				"Name" "twilio-token"
				"Value" (.Form.GetOr "twilio-token" .Config.TwilioToken)
				"Placeholder" "0123456789abcdef0123456789abcdef"
				"Pattern" `^[0-9a-f]+$`
				"MinLength" 32
				"MaxLength" 32
				"Disabled" $disabled
			}}

			{{template "com_sms_tel_input" .WithComData
				"Label" "From phone number"
				"Name" "twilio-from-tel"
				"Value" (.Form.GetOr "twilio-from-tel" .Config.TwilioFromTel)
				"Autocomplete" "tel"
				"Disabled" $disabled
			}}
		</fieldset>

		<div class="bag reverse">
			{{if .Config.SetupRequired}}
				<button type="submit" class="push-inline-end">Finish setup</button>
			{{else}}
				<button type="submit" class="push-inline-end"{{if $disabled}} disabled{{end}}>Update configuration</button>
			{{end}}
		</div>
	</form>
</div>

{{end}}
