{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<h1>System metrics</h1>

{{end}}

{{define "view_body"}}

<p><time datetime="{{FormatTime .Vars.Now "RFC3339"}}" data-date="full">{{FormatTime .Vars.Now "DateTime"}}</time></p>

<h2>Build</h2>

<table class="metrics">
	<tr>
		<td>Revision</td>
		<td>{{.Vars.Revision}}</td>
	</tr>
	<tr>
		<td>Tags</td>
		<td>{{.Vars.Tags}}</td>
	</tr>
	<tr>
		<td>Go version</td>
		<td>{{.Vars.Go}}</td>
	</tr>
	<tr>
		<td>OS/Arch</td>
		<td>{{.Vars.OS}}/{{.Vars.Arch}}</td>
	</tr>
	<tr>
		<td>Race detector</td>
		<td>{{.Vars.Race}}</td>
	</tr>
</table>

<h2>Process and memory</h2>

<table class="metrics">
	<tr>
		<td>Uptime</td>
		<td>{{.Vars.Uptime}}</td>
	</tr>
	<tr>
		<td>Cgo calls</td>
		<td data-locale-number>{{.Vars.CgoCalls}}</td>
	</tr>
	<tr>
		<td>Logical CPUs</td>
		<td data-locale-number>{{.Vars.CPUs}}</td>
	</tr>
	<tr>
		<td>Goroutines</td>
		<td data-locale-number>{{.Vars.Goroutines}}</td>
	</tr>
	<tr>
		<td>Total memory from OS</td>
		<td data-locale-number>{{.Vars.TotalMemOS}}</td>
	</tr>
	<tr>
		<td>Total heap allocated</td>
		<td data-locale-number>{{.Vars.TotalHeapAlloc}}</td>
	</tr>
	<tr>
		<td>Current heap allocated</td>
		<td data-locale-number>{{.Vars.HeapAlloc}}</td>
	</tr>
	<tr>
		<td>Current heap objects</td>
		<td data-locale-number>{{.Vars.HeapObjects}}</td>
	</tr>
	<tr>
		<td>Completed GC cycles</td>
		<td data-locale-number>{{.Vars.GCCycles}}</td>
	</tr>
	<tr>
		<td>Next GC cycle target heap</td>
		<td data-locale-number>{{.Vars.GCTargetHeapAlloc}}</td>
	</tr>
	<tr>
		<td>Last GC cycle</td>
		<td><time datetime="{{FormatTime .Vars.LastGC "RFC3339"}}" data-date="full">{{FormatTime .Vars.LastGC "DateTime"}}</time></td>
	</tr>
	<tr>
		<td>Total GC pause</td>
		<td>{{.Vars.TotalGCPause}}</td>
	</tr>
</table>

<div class="cols-thirds">
	{{range $database := .Vars.Databases}}
		<div>
			<h2>{{$database.Label}}</h2>

			<table class="metrics">
				<tr>
					<td>Max open conns.</td>
					<td>
						{{if $database.MaxOpenConns}}
							<span data-locale-number>{{$database.MaxOpenConns}}</span>
						{{else}}
							∞
						{{end}}
					</td>
				</tr>
				<tr>
					<td>In use conns.</td>
					<td data-locale-number>{{$database.InUseConns}}</td>
				</tr>
				<tr>
					<td>Idle conns.</td>
					<td data-locale-number>{{$database.IdleConns}}</td>
				</tr>
				<tr>
					<td>Times waiting for a conn.</td>
					<td data-locale-number>{{$database.ConnWaitCount}}</td>
				</tr>
				<tr>
					<td>Total time waiting for a conn.</td>
					<td>{{$database.TotalConnWaitTime}}</td>
				</tr>
				<tr>
					<td>Average time waiting for a conn.</td>
					<td>{{$database.AverageConnWaitTime}}</td>
				</tr>
			</table>
		</div>
	{{end}}
</div>

<div class="cols-thirds">
	{{range $metrics := .Vars.Requests}}
		<div>
			<h2>{{$metrics.Label}} reqs.</h2>

			<h3>Totals</h3>

			<table class="metrics">
				<tr>
					<td>Requests received</td>
					<td data-locale-number>{{$metrics.TotalRequestsReceived}}</td>
				</tr>
				<tr>
					<td>Requests in-flight</td>
					<td data-locale-number>{{$metrics.TotalRequestsInFlight}}</td>
				</tr>
				<tr>
					<td>Responses sent</td>
					<td data-locale-number>{{$metrics.TotalResponsesSent}}</td>
				</tr>
				<tr>
					<td>Bytes read</td>
					<td data-locale-number>{{$metrics.TotalBytesRead}}</td>
				</tr>
				<tr>
					<td>Bytes written</td>
					<td data-locale-number>{{$metrics.TotalBytesWritten}}</td>
				</tr>
				<tr>
					<td>Time until first write</td>
					<td>{{$metrics.TotalTimeUntilFirstWrite}}</td>
				</tr>
				<tr>
					<td>Time in handlers</td>
					<td>{{$metrics.TotalTimeInHandlers}}</td>
				</tr>
				<tr>
					<td>Time writing</td>
					<td>{{$metrics.TotalTimeWriting}}</td>
				</tr>
			</table>

			<h3>Averages</h3>

			<table class="metrics">
				<tr>
					<td>Bytes read</td>
					<td data-locale-number>{{$metrics.AverageBytesRead}}</td>
				</tr>
				<tr>
					<td>Bytes written</td>
					<td data-locale-number>{{$metrics.AverageBytesWritten}}</td>
				</tr>
				<tr>
					<td>Time until first write</td>
					<td>{{$metrics.AverageTimeUntilFirstWrite}}</td>
				</tr>
				<tr>
					<td>Time in handlers</td>
					<td>{{$metrics.AverageTimeInHandlers}}</td>
				</tr>
				<tr>
					<td>Time writing</td>
					<td>{{$metrics.AverageTimeWriting}}</td>
				</tr>
			</table>

			<h3>Status codes</h3>

			<table class="metrics">
				{{range $statusCode, $count := $metrics.TotalResponseStatusCodes}}
					<tr>
						<td>{{$statusCode}} {{StatusText $statusCode}}</td>
						<td data-locale-number>{{$count}}</td>
					</tr>
				{{else}}
					<tr>
						<td>No responses sent</td>
					</tr>
				{{end}}
			</table>
		</div>
	{{end}}
</div>

{{end}}
