{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<div class="center">
	{{if .Config.RequireSetup}}
		<h1>Initial system configuration</h1>
	{{else}}
		<h1>System configuration</h1>
	{{end}}
</div>

{{end}}

{{define "view_body"}}

{{$disabled := not .Passport.System.CanUpdateConfig}}

<div class="center">
	<form action="{{Path "system.config.post"}}" method="POST">
		{{template "com_csrf_input" .}}

		{{template "com_email_input" .WithComData
			"Label" "System email"
			"Name" "system-email"
			"Value" (.Form.GetOr "system-email" .Config.SystemEmail)
			"Required" true
			"Autocomplete" "email"
			"Disabled" $disabled
		}}

		{{template "com_email_input" .WithComData
			"Label" "Security email"
			"Name" "security-email"
			"Value" (.Form.GetOr "security-email" .Config.SecurityEmail)
			"Required" true
			"Autocomplete" "email"
			"Disabled" $disabled
		}}

		{{template "com_form_select" .WithComData
			"Label" "Require two-factor authentication"
			"Name" "require-totp"
			"Value" (.Form.GetOr "require-totp" .Config.RequireTOTP)
			"Options" (Slice
				(Map "Label" "No" "Value" "false")
				(Map "Label" "Yes" "Value" "true")
			)
			"Disabled" $disabled
		}}

		{{template "com_form_select" .WithComData
			"Label" "Enable Google sign in"
			"Name" "google-sign-in-enabled"
			"Value" (.Form.GetOr "google-sign-in-enabled" .Config.GoogleSignInEnabled)
			"Options" (Slice
				(Map "Label" "No" "Value" "false")
				(Map "Label" "Yes" "Value" "true")
			)
			"Disabled" $disabled
		}}

		{{template "com_form_input" .WithComData
			"Label" "Google sign in client id"
			"Type" "text"
			"Name" "google-sign-in-client-id"
			"Value" (.Form.GetOr "google-sign-in-client-id" .Config.GoogleSignInClientID)
			"Placeholder" "ABCDEFG123456789"
			"Pattern" `^.+$`
			"MaxLength" 100
			"Disabled" $disabled
		}}

		{{template "com_form_input" .WithComData
			"Label" "Twilio SID"
			"Type" "text"
			"Name" "twilio-sid"
			"Value" (.Form.GetOr "twilio-sid" .Config.TwilioSID)
			"Placeholder" "0123456789abcdef0123456789abcdef"
			"Pattern" `^AC[0-9a-f]+$`
			"MinLength" 34
			"MaxLength" 34
			"Disabled" $disabled
		}}

		{{template "com_form_input" .WithComData
			"Label" "Twilio token"
			"Type" "text"
			"Name" "twilio-token"
			"Value" (.Form.GetOr "twilio-token" .Config.TwilioToken)
			"Placeholder" "0123456789abcdef0123456789abcdef"
			"Pattern" `^[0-9a-f]+$`
			"MinLength" 32
			"MaxLength" 32
			"Disabled" $disabled
		}}

		{{template "com_sms_tel_input" .WithComData
			"Label" "Twilio from phone"
			"Name" "twilio-from-tel"
			"Value" (.Form.GetOr "twilio-from-tel" .Config.TwilioFromTel)
			"Autocomplete" "tel"
			"Disabled" $disabled
		}}

		<div class="bag reverse">
			{{if .Config.RequireSetup}}
				<button type="submit" class="push-inline-end">Finish setup</button>
			{{else}}
				<button type="submit" class="push-inline-end"{{if $disabled}} disabled{{end}}>Update configuration</button>
			{{end}}
		</div>
	</form>
</div>

{{end}}
