{{define "view_head"}}

<div class="center">
	<h1>Delete {{.Vars.Role.Name}}</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<p>Are you sure you want to permanently delete the role {{printf "%q" .Vars.Role.Name}}?</p>

	<form action="{{Path "account.management.role.delete.post" ":roleID" .Vars.Role.ID}}" method="POST">
		<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

		<div class="bag reverse">
			<button type="submit" class="btn--danger push-inline-end">Yes, delete {{printf "%q" .Vars.Role.Name}}</button>

			<a href="{{Path "account.management.role.list"}}{{.URL.Query.String}}">Cancel</a>
		</div>
	</form>
</div>

{{end}}
