{{define "view"}}

<div class="center">
	<h1>Editing {{.Vars.Role.Name}}</h1>

	<form action="{{Path "account.management.role.edit.post" ":roleID" .Vars.Role.ID}}" method="POST">
		<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

		<label for="role-edit__email">Name</label>
		<input id="role-edit__email" type="text" name="name" value="{{or (.Form.Get "name") .Vars.Role.Name}}" placeholder="Staff" required maxlength="100">
		<p class="error">{{.Errors.Get "name"}}</p>

		<div class="bag reverse">
			<button type="submit" class="push-inline-end">Update role</button>

			<a href="{{Path "account.management.role.list"}}{{.URL.Query.String}}">Cancel</a>
		</div>
	</form>
</div>

{{end}}
