{{define "view_head"}}

<h1>Role management</h1>

<form class="bag">
	<input type="search" aria-label="Search" name="search" value="{{.URL.Query.Get "search"}}" placeholder="Search" class="grow">
	<button>Search</button>
</form>

{{end}}

{{define "view_body"}}

<table class="management">
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th class="text-right no-wrap">
			{{if .Guard.CanCreateRoles}}
				<a href="{{Path "account.management.role.new"}}{{$.URL.Query.String}}">Create role</a>
			{{end}}
		</th>
	</tr>

	{{range .Vars.Roles.Page.Rows}}
		<tr{{if eq .ID $.Session.HighlightID}} class="management__highlight"{{end}}>
			<td>{{.Name}}</td>
			<td>{{.Description}}</td>
			<td class="text-right no-wrap">
				<a href="{{Path "account.management.role.edit" ":roleID" .ID}}{{$.URL.Query.String}}">Edit</a>
				<a href="{{Path "account.management.role.delete" ":roleID" .ID}}{{$.URL.Query.String}}">Delete</a>
			</td>
		</tr>
	{{else}}
		<tr class="management__empty">
			<td colspan="3">No roles found</td>
		</tr>
	{{end}}
</table>

{{template "com_pagination" .ComData .Vars.Roles}}

{{end}}
