{{define "view_head"}}

<div class="center">
	<h1>New role</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<form action="{{Path "account.management.role.new.post"}}" method="POST">
		<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

		<div class="halves">
			<div class="form">
				<label for="role__name">Name</label>
				<input id="role__name" type="text" name="name" value="{{.Form.Get "name"}}" placeholder="Staff" required maxlength="100">
				<p class="error">{{.Errors.Get "name"}}</p>

				<label for="role__description">Description</label>
				<textarea id="role__description" name="description" rows="5" placeholder="A role for members of staff." maxlength="500">{{.Form.Get "description"}}</textarea>
				<p class="error">{{.Errors.Get "description"}}</p>
			</div>

			<div class="form">
				<b>Account</b>

				<label><input type="checkbox" name="permissions" value="account:roles:view"> View roles</label>
				<label><input type="checkbox" name="permissions" value="account:roles:create"> Create roles</label>
				<label><input type="checkbox" name="permissions" value="account:roles:edit"> Edit roles</label>
				<label><input type="checkbox" name="permissions" value="account:roles:delete"> Delete roles</label>
				<label><input type="checkbox" name="permissions" value="account:users:view"> View users</label>
				<label><input type="checkbox" name="permissions" value="account:users:edit"> Edit users</label>
			</div>
		</div>

		<div class="bag reverse">
			<button type="submit" class="push-inline-end">Add role</button>

			<a href="{{Path "account.management.role.list"}}{{.URL.Query.String}}">Cancel</a>
		</div>
	</form>
</div>

{{end}}
