{{define "view_head"}}

<div class="center">
	<h1>New role</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<form action="{{Path "account.management.role.new.post"}}" method="POST">
		<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

		<div class="halves">
			<div class="form">
				<label for="role__name">Name</label>
				<input id="role__name" type="text" name="name" value="{{.Form.Get "name"}}" placeholder="Role name" required maxlength="30">
				<p class="error">{{.Errors.Get "name"}}</p>

				<label for="role__description">Description</label>
				<textarea id="role__description" name="description" rows="5" placeholder="A role description." maxlength="100">{{.Form.Get "description"}}</textarea>
				<p class="error">{{.Errors.Get "description"}}</p>
			</div>

			<div class="form">
				{{$permissions := $.Form.GetAll "permissions"}}
				{{range .Vars.PermissionGroups}}
					<b>{{.Name}}</b>

					{{range .Permissions}}
						<label><input type="checkbox" name="permissions" value="{{.Name}}"{{if HasString $permissions .Name}} checked{{end}}> {{.DisplayName}}</label>
					{{end}}
				{{end}}
			</div>
		</div>

		<div class="bag reverse">
			<button type="submit" class="push-inline-end">Add role</button>

			<a href="{{Path "account.management.role.list"}}{{.URL.Query.String}}">Cancel</a>
		</div>
	</form>
</div>

{{end}}
