{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<div class="center">
	<h1>Setup using SMS</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<div class="warning-banner">
		<p>Using SMS for two-factor authentication is only recommended when you can't use an authenticator app on your phone.</p>
		<p><a href="{{Path "account.totp.setup.app"}}">Don't want to use SMS? Click here to use an app.</a></p>
	</div>

	<p>Enter the phone number that you'd like to use below and we'll send you a passcode to verify your phone number has been entered correctly.</p>

	<form action="{{Path "account.totp.setup.sms.post"}}" method="POST">
		{{template "com_csrf_input" .}}

		{{template "com_sms_tel_input" .WithProps
			"Label" "Phone number"
			"Name" "tel"
			"Value" (.Form.GetOr "tel" .Vars.TOTPTel)
			"Autocomplete" "tel"
		}}

		<div class="bag reverse">
			<button type="submit">Use this phone number and send a passcode</button>
		</div>
	</form>
</div>

{{end}}
