{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<div class="center">
	<h1>Verify your setup</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<div class="warning-banner">
		<p>Using SMS for two-factor authentication is only recommended when you can't use an authenticator app on your phone.</p>
		<p><a href="{{Path "account.totp.setup.app"}}">Don't want to use SMS? Click here to use an app.</a></p>
	</div>

	<p>Enter the 6 digit passcode you received via SMS to verify that phone number is setup correctly.</p>

	<form action="{{Path "account.totp.setup.sms.verify.post"}}" method="POST">
		{{template "com_csrf_input" .}}

		{{template "com_passcode_input" .WithProps
			"Label" "Passcode"
			"Name" "totp"
			"Required" true
			"Autocomplete" "off"
		}}

		<div class="bag reverse">
			<button>Verify setup</button>
			<button formnovalidate formaction="{{Path "account.totp.sms.send_passcode.post"}}" class="btn--alt push-inline-end">Resend passcode SMS</button>
			<a href="{{Path "account.totp.setup.sms"}}">Change phone number</a>
		</div>
	</form>
</div>

{{end}}
