{{define "header"}}

<header class="header">
  <p class="site-title">Tofu</p>

  <nav class="nav">
    <ul>
      <li><a href="/">Home</a></li>

      {{if .Session.UserID}}
        <li>
          <form action="/account/logout" method="POST">
            <input type="hidden" name="_csrf" value="{{.CSRFToken}}">

            <button type="submit">Logout</button>
          </form>
        </li>
      {{else}}
        <li><a href="/account/login">Login</a></li>
      {{end}}
    </ul>
  </nav>
</header>

{{end}}
