{{define "view"}}

<h1>User Management</h1>

{{if .Query.Get "edit"}}
	<p><a href="?{{URL (QueryReplace .Query "edit" nil)}}">Back</a></p>
	<p>Editing {{.Vars.User.Email}}</p>
{{else}}
	<form class="bag">
		<input type="search" name="search" value="{{.Query.Get "search"}}" autofocus class="grow">
		<button>Search</button>
	</form>

	<table class="management">
		<tr>
			<th>Email</th>
			<th></th>
		</tr>

		{{range $row := .Vars.Users.Page.Rows}}
			<tr>
				<td><a href="mailto:{{$row.Email}}">{{$row.Email}}</a></td>
				<td class="text-right"><a href="?{{URL (QueryReplace $.Query "edit" $row.ID)}}">Edit</a></td>
			</tr>
		{{else}}
			<tr class="management__empty">
				<td colspan="2">No data found</td>
			</tr>
		{{end}}
	</table>

	{{template "pagination" .WithBook .Vars.Users}}
{{end}}

{{end}}
