{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<div class="center">
	<h1>Reset two-factor authentication</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<p>Enter your password in the form below to reset two-factor authentication for your account.</p>

	<form action="{{Path "account.totp.reset.post"}}{{.URL.Query.String}}" method="POST">
		{{template "com_csrf_input" .}}
		<input type="hidden" name="token" value="{{.URL.Query.Get "token"}}">

		{{template "com_password_input" .WithComData
			"Label" "Password"
			"Name" "password"
			"Required" true
			"Autocomplete" "current-password"
		}}

		<div class="bag reverse">
			<button type="submit">Reset two-factor authentication</button>
		</div>
	</form>
</div>

{{end}}
