{{define "master_site" -}}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{block "meta_title" .}}{{.App.Name}}{{end}}</title>
		<meta name="description" content="{{block "meta_description" .}}{{.App.Description}}{{end}}">
		<link rel="stylesheet" href="/css/common.css">
		<link rel="stylesheet" href="/css/site.css">
	</head>
	<body>
		<script src="/js/site/components.js"></script>

		<a href="#main-content" class="skip-nav-link">Skip navigation</a>

		<header class="header">
			<p class="site-title">
				<a href="{{Path "page.home"}}">{{.App.Name}}</a>
			</p>

			<nav class="nav">
				<ul>
					<li><a href="{{Path "page.home"}}">Home</a></li>

					{{if .Session.IsSignedIn}}
						<li><a href="{{Path "account.dashboard"}}">Account</a></li>

						{{if .Passport.CanAccessAdmin}}
							<li><a href="{{Path "admin.dashboard"}}">Admin</a></li>
						{{end}}

						<li>
							<form action="{{Path "account.sign_out.post"}}" method="POST">
								<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

								<button type="submit" class="btn--link">Sign out</button>
							</form>
						</li>
					{{else}}
						<li><a href="{{Path "account.sign_in"}}">Sign in</a></li>
					{{end}}
				</ul>
			</nav>
		</header>

		<main id="main-content" class="main">
			{{if .Session.IsSignedIn}}
				<div class="top-bar">
					{{if HasPathPrefix .URL.Path "admin.section"}}
						{{template "site_nav_admin" .}}
					{{end}}

					{{if HasPathPrefix .URL.Path "account.section"}}
						{{template "site_nav_account" .}}
					{{end}}
				</div>
			{{end}}

			{{block "view_head" .}}{{end}}

			{{if and .ErrorMessage (ne .View "site/error")}}
				<div class="error-banner center">
					<p>{{.ErrorMessage}}</p>
				</div>
			{{end}}

			{{range $flash := .Session.FlashImportant}}
				<div class="flash-banner flash-banner--important center">
					<p>{{UnescapeHTML $flash}}</p>
				</div>
			{{end}}

			{{range $flash := .Session.Flash}}
				<div class="flash-banner center">
					<p>{{UnescapeHTML $flash}}</p>
				</div>
			{{end}}

			{{block "view_body" .}}{{end}}
		</main>

		<footer class="footer">
			<div class="footer__col">
				<p>Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Voluptates dolores cum cumque rerum error architecto aut quibusdam ipsam sapiente quis iste magnam animi, in eaque placeat distinctio soluta atque commodi.</p>
			</div>

			<div class="footer__col">
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In unde consequatur tempora exercitationem repellat possimus ullam nemo nobis hic, tenetur, animi necessitatibus perspiciatis nihil ipsa eligendi dignissimos. Voluptate, sequi, consectetur!</p>
			</div>

			<div class="footer__col">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Autem distinctio rerum soluta beatae, aperiam minus qui praesentium ex totam odio dicta officiis a iste optio cupiditate atque ducimus ipsam quos!</p>
			</div>

			<div class="footer__col">
				<p>Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Quo officiis eum quibusdam possimus atque blanditiis, quaerat iure deserunt unde facilis sint debitis! Deserunt cumque placeat obcaecati atque adipisci sequi, dolore!</p>
			</div>
		</footer>
	</body>
</html>

{{- end}}
