{{define "site.nav.admin"}}

{{if .Passport.CanAccessAdmin}}
	<nav>
		<ul>
			{{if .Passport.Account.CanViewUsers}}
				<li><a href="{{Path "account.management.user.list"}}">{{.T "site.admin.nav.user_management"}}</a></li>
			{{end}}

			{{if .Passport.Account.CanViewRoles}}
				<li><a href="{{Path "account.management.role.list"}}">{{.T "site.admin.nav.role_management"}}</a></li>
			{{end}}

			{{if .Passport.System.CanViewConfig}}
				<li><a href="{{Path "system.config"}}">{{.T "site.admin.nav.system_config"}}</a></li>
			{{end}}

			{{if or .Passport.System.CanBackup .Passport.System.CanRestore}}
				<li><a href="{{Path "system.recovery"}}">{{.T "site.admin.nav.system_recovery"}}</a></li>
			{{end}}

			{{if .Passport.System.CanViewMetrics}}
				<li><a href="{{Path "system.metrics"}}">{{.T "site.admin.nav.system_metrics"}}</a></li>
			{{end}}
		</ul>
	</nav>
{{end}}

{{end}}
