{{define "subject"}}{{.T "site.email.sign_up_reset_password.subject" "host" .URL.Host}}{{end}}

{{define "plain" -}}

{{.T "site.email.sign_up_reset_password.title"}}

{{.T "site.email.sign_up_reset_password.text" "host" .URL.Host}}

{{.T "site.email.sign_up_reset_password.copy_url_to_reset"
	"has_password" .Vars.HasPassword
	"new_password_url" .Vars.NewPasswordURL
	"sign_in_url" .Vars.SignInURL
}}

{{- end}}

{{define "html" -}}

<h1>{{.T "site.email.sign_up_reset_password.title"}}</h1>

{{.T "p" "site.email.sign_up_reset_password.text" "host" .URL.Host}}

{{.T "p" "site.email.sign_up_reset_password.click_to_reset"
	"has_password" .Vars.HasPassword
	"new_password_url" .Vars.NewPasswordURL
	"sign_in_url" .Vars.SignInURL
}}

{{- end}}
