{{define "view"}}

<div class="change-password center">
	{{if eq (.Query.Get "status") "success"}}
		<p class="title">Password Changed</p>

		<p>Your password has been successfully changed.</p>
	{{else}}
		<p class="title">Change Password</p>

		<form action="{{Path "account/change_password.put"}}" method="POST">
			<input type="hidden" name="_method" value="PUT">
			<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

			<label for="change-password__old-password">Old Password</label>
			<input id="change-password__old-password" type="password" name="old-password" value="{{.Form.Get "old-password"}}" placeholder="old password" autocomplete="current-password"  required pattern="[ -~]{8,100}" minlength="8" maxlength="100">
			<p class="error">{{.Errors.Get "old password"}}</p>

			<label for="change-password__new-password">New Password</label>
			<input id="change-password__new-password" type="password" name="new-password" value="{{.Form.Get "new-password"}}" placeholder="new password" autocomplete="new-password" required pattern="[ -~]{8,100}" minlength="8" maxlength="100">
			<p class="error">{{.Errors.Get "new password"}}</p>

			<div class="bag">
				<button type="submit" class="push-inline-end">Update Password</button>
			</div>
		</form>
	{{end}}
</div>

{{end}}
