{{define "view"}}

<h1>Account</h1>

<nav>
	<ul>
		<li><a href="{{Path "account/change_password"}}">Change password</a></li>
		<li><a href="{{Path "account/totp"}}">Setup 2FA</a></li>
	</ul>
</nav>

{{end}}
