{{define "view"}}

<div class="reset-password center">
	{{if eq (.Query.Get "status") "success"}}
		<p class="title">Password Changed</p>

		<p>Your password has been successfully changed.</p>
	{{else if eq (.Query.Get "status") "email-sent"}}
		<p class="title">Email Sent</p>

		<p>Please check your email for a link to update your password.</p>
	{{else if .Query.Get "token"}}
		<p class="title">Reset Password</p>

		<form action="{{Path "account.reset_password.put"}}?token={{.Query.Get "token"}}" method="POST">
			<input type="hidden" name="_method" value="PUT">
			<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">
			<input type="hidden" name="token" value="{{.Query.Get "token"}}">

			<label for="reset-password__password">New Password</label>
			<input id="reset-password__password" type="password" name="new-password" value="{{.Form.Get "new-password"}}" placeholder="new password" autocomplete="new-password" required pattern="[ -~]{8,100}" minlength="8" maxlength="100">
			<p class="error">{{.Errors.Get "new password"}}</p>

			<div class="bag">
				<button type="submit" class="push-inline-end">Update Password</button>
			</div>
		</form>
	{{else}}
		<p class="title">Reset Password</p>

		<form action="{{Path "account.reset_password.post"}}" method="POST">
			<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

			<label for="reset-password__email">Email</label>
			<input id="reset-password__email" type="email" name="email" value="{{.Form.Get "email"}}" placeholder="ash@example.com" autocomplete="email" autofocus required pattern=".+?@.+?(\..+?)+" maxlength="100">
			<p class="error">{{.Errors.Get "email"}}</p>

			<div class="bag">
				<button type="submit" class="push-inline-end">Send Email</button>
			</div>
		</form>
	{{end}}
</div>

{{end}}
