{{define "view"}}

<div class="login center">
	{{if .Session.IsAuthenticated}}
		<p class="title">Logout</p>

		<p>You are already logged in.</p>

		<form action="{{Path "account.logout.post"}}" method="POST">
			<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

			<button type="submit">Logout</button>
		</form>
	{{else if eq (.Query.Get "step") "recovery-code"}}
		<p class="title">Login with Recovery Code</p>

		<p>
			Please verify your identity by entering one of your recovery codes.
			Once a recovery code has been used it cannot be used again.
		</p>

		<form action="{{Path "account.login.post"}}?{{URL .Query.Encode}}" method="POST">
			<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">
			<input type="hidden" name="action" value="verify-recovery-code">

			<label for="login__recovery-code">Recovery Code</label>
			<input id="login__recovery-code" type="text" name="recovery-code" value="{{.Form.Get "recovery-code"}}" placeholder="ABCDEFGHIJKLM" autocomplete="off" autofocus required pattern="^[A-Z2-7]+$" minlength="13" maxlength="13">
			<p class="error">{{.Errors.Get "recovery code"}}</p>

			<div class="bag">
				<a href="?step=totp">Use a passcode</a>
				<button type="submit" class="push-inline-end">Login</button>
			</div>
		</form>
	{{else if eq (.Query.Get "step") "totp"}}
		<p class="title">Login with Passcode</p>

		{{$useSMS := eq .Session.TOTPMethod "sms"}}

		{{if $useSMS}}
			<p>Please verify your identity by entering the 6 digit passcode that has been generated and sent to your registered phone number.</p>
		{{else}}
			<p>Please verify your identity by entering a 6 digit passcode that has been generated by your authenticator app.</p>
		{{end}}

		<form action="{{Path "account.login.post"}}?{{URL .Query.Encode}}" method="POST">
			<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">
			<input type="hidden" name="action" value="verify-totp">

			<label for="login__totp">Passcode</label>
			<input id="login__totp" type="text" name="totp" value="{{.Form.Get "totp"}}" placeholder="123456" autocomplete="one-time-code" autofocus required pattern="\d{6}" minlength="6" maxlength="6">
			<p class="error">{{.Errors.Get "totp"}}</p>

			<div class="bag reverse">
				<button type="submit"{{if not $useSMS}} class="push-inline-end"{{end}}>Login</button>

				{{if $useSMS}}
					<button type="submit" formnovalidate formaction="{{Path "account.login.totp.send_sms.post"}}" class="btn--alt{{if $useSMS}} push-inline-end{{end}}">Resend passcode SMS</button>
				{{end}}

				<a href="?step=recovery-code">Use a recovery code</a>
			</div>
		</form>
	{{else}}
		<p class="title">Login</p>

		<form action="{{Path "account.login.post"}}" method="POST">
			<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">
			<input type="hidden" name="action" value="verify-password">

			<label for="login__email">Email</label>
			<input id="login__email" type="email" name="email" value="{{.Form.Get "email"}}" placeholder="ash@example.com" autocomplete="email" autofocus required pattern=".+?@.+?(\..+?)+" maxlength="100">
			<p class="error">{{.Errors.Get "email"}}</p>

			<label for="login__password">Password</label>
			<input id="login__password" type="password" name="password" value="{{.Form.Get "password"}}" placeholder="password" autocomplete="current-password" required pattern="[ -~]{8,100}" minlength="8" maxlength="100">
			<p class="error">{{.Errors.Get "password"}}</p>

			<div class="bag">
				<div>
					<a href="{{Path "account.register"}}">Create account</a><br>
					<a href="{{Path "account.reset_password"}}">Reset password</a>
				</div>

				<button type="submit" class="push-inline-end">Login</button>
			</div>
		</form>
	{{end}}
</div>

{{end}}
