{{define "view"}}

<div class="totp center">
	{{if eq (.Query.Get "status") "disabled"}}
		<p class="title">Two-Factor Authentication Disabled</p>

		<p>Two-factor authentication has been disabled for your account.</p>
		<p>From now on you will not be required to provide any passcodes when logging in to your account.</p>
	{{else if not .Session.HasVerifiedTOTP}}
		<p class="title">Two-Factor Authentication Already Disabled</p>

		<p>Two-factor authentication is already disabled for your account.</p>
	{{else}}
		<p class="title">Disable Two-Factor Authentication</p>

		<p>Enter your password to verify your identity and disable two-factor authentication.</p>

		<form action="{{Path "account.totp.disable.post"}}{{QueryString .Query}}" method="POST">
			<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">
			<input type="hidden" name="action" value="verify-totp">

			<label for="totp__password">Password</label>
			<input id="totp__password" type="password" name="password" value="{{.Form.Get "password"}}" placeholder="password" autocomplete="current-password" required pattern="[ -~]{8,100}" minlength="8" maxlength="100">
			<p class="error">{{.Errors.Get "password"}}</p>

			<div class="bag">
				<button type="submit" class="push-inline-end">Disable two-factor authentication</button>
			</div>
		</form>
	{{end}}
</div>

{{end}}
