{{define "view"}}

<div class="register center">
  <p class="title">Forgotten Password</p>

  <form action="/account/forgotten-password" method="POST">
    <input type="hidden" name="_csrf" value="{{.CSRFToken}}">

    <label for="register__email">Email</label>
    <input id="register__email" type="email" name="email" placeholder="ash@example.com" autocomplete="email" autofocus required>
    {{if .Errors.email}}<p class="error">{{.Errors.email}}</p>{{end}}

    <div class="bag">
      <button type="submit" class="push-inline-end">Send Email</button>
    </div>
  </form>
</div>

{{end}}
