{{define "view"}}

<div class="forgotten-password center">

  {{if eq .Query.status "success"}}

    <p class="title">Password Changed</p>

    <p>Your password has been successfully changed.</p>

  {{else if eq .Query.status "email-sent"}}

    <p class="title">Email Sent</p>

    <p>Please check your email for a link to update your password.</p>

  {{else if .Query.token}}

    <p class="title">Reset Password</p>

    <form action="{{Route "account.forgottenPassword.put"}}" method="POST">
      <input type="hidden" name="_method" value="PUT">
      <input type="hidden" name="_csrf" value="{{.CSRFToken}}">
      <input type="hidden" name="token" value="{{.Query.token}}">

      <label for="forgotten-password__password">New Password</label>
      <input id="forgotten-password__password" type="password" name="new-password" placeholder="new password" autocomplete="new-password" required pattern="[ -~]{8,100}" minlength="8" maxlength="100">
      <p class="error">{{or .Errors.password ""}}</p>

      <div class="bag">
        <button type="submit" class="push-inline-end">Update Password</button>
      </div>
    </form>

  {{else}}

    <p class="title">Forgotten Password</p>

    <form action="{{Route "account.forgottenPassword.post"}}" method="POST">
      <input type="hidden" name="_csrf" value="{{.CSRFToken}}">

      <label for="forgotten-password__email">Email</label>
      <input id="forgotten-password__email" type="email" name="email" placeholder="ash@example.com" autocomplete="email" autofocus required pattern=".+?@.+?(\..+?)+" maxlength="100">
      <p class="error">{{or .Errors.email ""}}</p>

      <div class="bag">
        <button type="submit" class="push-inline-end">Send Email</button>
      </div>
    </form>

  {{end}}

</div>

{{end}}
