{{define "com_password_input" -}}

{{$hint := ""}}
{{if eq .ComData.Autocomplete "new-password"}}
	{{$hint = "at least 8 characters"}}
{{end}}
{{$hint = or .ComData.Hint $hint}}

{{$placeholder := or .ComData.Placeholder "password or passphrase"}}

{{template "com_form_input" .WithComData
	"ComData" .ComData
	"Type" "password"
	"Hint" $hint
	"Placeholder" $placeholder
	"Pattern" `^.+$`
	"MinLength" 8
	"MaxLength" 1000
}}

{{- end}}
