{{define "site_nav_account"}}

<nav>
	<ul>
		{{if .User.HashedPassword}}
			<li><a href="{{Path "account.change_password"}}">Change password</a></li>
		{{else}}
			<li><a href="{{Path "account.choose_password"}}">Choose a password</a></li>
		{{end}}

		{{if .Session.HasActivatedTOTP}}
			<li><a href="{{Path "account.totp.recovery_codes"}}">Generate new recovery codes</a></li>

			{{if not .Config.TOTPRequired}}
				<li><a href="{{Path "account.totp.disable"}}">Disable two-factor authentication</a></li>
			{{end}}
		{{else}}
			<li><a href="{{Path "account.totp.setup"}}">Setup two-factor authentication</a></li>
		{{end}}
	</ul>
</nav>

{{end}}
