{{define "com_textarea_input" -}}

{{$name := .Props.Name}}
{{$id := or .Props.ID (printf "form__%v" $name)}}
{{$label := .Props.Label}}
{{$hint := .Props.Hint}}
{{$placeholder := .Props.Placeholder}}
{{$value := or .Props.Value (.Form.Get $name)}}
{{$required := .Props.Required}}
{{$autocomplete := .Props.Autocomplete}}
{{$autofocus := .Props.Autofocus}}
{{$disabled := .Props.Disabled}}
{{$pattern := .Props.Pattern}}
{{$minlength := .Props.MinLength}}
{{$maxlength := .Props.MaxLength}}
{{$error := .Errors.Get (ReplaceAll $name "-" " ")}}

{{if $name}}
	{{if $label}}
		<label
			for="{{$id}}"
			{{if $required}}class="required"{{end}}
		>
			{{$label}}
			{{- if $hint}} <small>{{$hint}}</small>{{end -}}
		</label>
	{{end}}

	<textarea
		{{if or $id $label}}id="{{$id}}"{{end}}
		name="{{$name}}"
		{{if $placeholder}}placeholder="{{$placeholder}}"{{end}}
		{{if $autocomplete}}autocomplete="{{$autocomplete}}"{{end}}
		{{if $autofocus}}autofocus{{end}}
		{{if $minlength}}minlength="{{$minlength}}"{{end}}
		{{if $maxlength}}maxlength="{{$maxlength}}"{{end}}
		{{if $required}}required{{end}}
		{{if $disabled}}disabled{{end}}
		{{if $error}}class="invalid"{{end}}
	>{{$value}}</textarea>
	<p class="error">{{$error}}</p>
{{else}}
	<p>Form input component: required fields: Name.</p>
{{end}}

{{- end}}
