{{define "site_message_banners"}}

{{if and .ErrorMessage (ne .View "site/error")}}
	<div class="message-banner error-banner center">
		<p>{{.ErrorMessage}}</p>
	</div>
{{end}}

{{range $flash := .Session.FlashError}}
	<div class="message-banner error-banner center">
		<p>{{UnescapeHTML $flash}}</p>
	</div>
{{end}}

{{range $flash := .Session.FlashImportant}}
	<div class="message-banner flash-banner flash-banner--important center">
		<p>{{UnescapeHTML $flash}}</p>
	</div>
{{end}}

{{range $flash := .Session.Flash}}
	<div class="message-banner flash-banner center">
		<p>{{UnescapeHTML $flash}}</p>
	</div>
{{end}}

{{end}}
