{{define "view"}}

<div class="activate center">
	{{if .ErrorMessage}}
		<p class="title">Account Activation Error</p>

		<p>Either the account you are trying to activate has already been activated or you have provided an invalid activation token.</p>
	{{else if .Query.Get "token"}}
		<p class="title">Account Activation</p>

		<p>If you are not automatically redirected please click on the button below to activate your account.</p>

		<form action="{{Path "account.activate.post"}}" method="POST" id="account-activate-form">
			<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">
			<input type="hidden" name="token" value="{{.Query.Get "token"}}">

			<button type="submit">Activate account</button>
		</form>

		<script>
			const form = document.getElementById("account-activate-form")

			if (form) {
				form.submit()
			}
		</script>
	{{else}}
		<p class="title">Account Activation Error</p>

		<p>An account cannot be activated without an activation token.</p>
	{{end}}
</div>

{{end}}
