{{define "view_head"}}

<div class="center">
	{{if .ErrorMessage}}
		<h1>Account activation error</h1>
	{{else}}
		<h1>Account activation</h1>
	{{end}}
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	{{if .ErrorMessage}}
		<p>Either the account you're trying to activate has already been activated or you've provided an invalid activation token.</p>
	{{else}}
		<p>Almost done! Use the form below to choose a password and we can activate your account.</p>

		<form action="{{Path "account.activate.post"}}{{.URL.Query.String}}" method="POST" id="account-activate-form">
			<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">
			<input type="hidden" name="token" value="{{.URL.Query.Get "token"}}">

			<label for="activate__password">Choose a password</label>
			<input id="activate__password" type="password" name="password" value="{{.Form.Get "password"}}" placeholder="password" autocomplete="current-password" required pattern=".{8,1000}" minlength="8" maxlength="1000">
			<p class="error">{{.Errors.Get "password"}}</p>

			<div class="bag reverse">
				<button type="submit">Use this password and activate account</button>
			</div>
		</form>
	{{end}}
</div>

{{end}}
