{{define "view"}}

<div class="recovery-codes center">
	<h1>Two-factor authentication not setup</h1>

	<p>Two-factor authentication has not been setup for your account, so you do not have any recovery codes.</p>
	<p><a href="{{Path "account.totp.setup"}}">Setup two-factor authentication.</a></p>
</div>

{{end}}
