{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<div class="center">
	<h1>Thank you</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<p>Your account details have been registered and an email containing an account activation link has been sent to {{or .Vars.Email "you"}}.</p>
</div>

{{end}}
