{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<div class="center">
	{{if .ErrorMessage}}
		<h1>Account verification error</h1>
	{{else}}
		<h1>Account verification</h1>
	{{end}}
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	{{if .ErrorMessage}}
		<p>Either the account you're trying to verify has already been verified or you've provided an invalid verification token.</p>
	{{else}}
		<p>Almost done! Use the form below to choose a password and we can verify your account.</p>

		<form action="{{Path "account.verify.post"}}{{.URL.Query.String}}" method="POST" id="account-verify-form">
			{{template "com_csrf_input" .}}
			<input type="hidden" name="token" value="{{.URL.Query.Get "token"}}">

			{{template "com_password_input" .WithComData
				"Label" "Choose a password"
				"Name" "password"
				"Required" true
				"Autocomplete" "new-password"
			}}

			<div class="bag reverse">
				<button type="submit">Use this password and verify account</button>
			</div>
		</form>
	{{end}}
</div>

{{end}}
