{{define "com.view.form.role_permission_groups" -}}

{{$name := .Props.Name}}
{{$groups := .Props.Groups}}
{{$selected := .Props.Selected}}

{{if not $name}}{{.Log.Warn "com.view.form.role_permission_groups: missing required prop: Name"}}{{end}}
{{if not $groups}}{{.Log.Warn "com.view.form.role_permission_groups: missing required prop: Groups"}}{{end}}

{{range $groups}}
	<div class="form">
		<b>{{$.T .Name}}</b>

		{{range .Permissions}}
			<label>
				<input
					type="checkbox"
					name="{{$name}}"
					value="{{.Name}}"
					{{if HasString $selected .Name}}checked{{end}}
				>
				{{$.T .DisplayName}}
			</label>
		{{end}}
	</div>
{{end}}

{{- end}}
