{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>{{.T "site.account.role_management.delete.title" "role_name" .Vars.Role.Name}}</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	{{if ge .Vars.UserCount 1}}
		<div class="warning-banner">
			{{.T "p" "site.account.role_management.delete.users_have_role_warning" "user_count" .Vars.UserCount}}
		</div>
	{{end}}

	{{.T "p" "site.account.role_management.delete.are_you_sure" "role_name" .Vars.Role.Name}}

	<form action="{{Path "account.management.role.delete.post" "{roleID}" .Vars.Role.ID}}{{.URL.Query.String}}" method="POST">
		{{template "com.form.csrf" .}}

		<div class="bag reverse">
			<button class="btn--danger push-inline-end">{{.T "site.account.role_management.delete.delete_button" "role_name" .Vars.Role.Name}}</button>

			<a href="{{Path "account.management.role.list"}}{{.URL.Query.String}}">{{.T "site.account.role_management.delete.cancel_button"}}</a>
		</div>
	</form>
</div>

{{end}}
