{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>{{.T "site.account.role_management.edit.title" "role_name" .Vars.Role.Name}}</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	<form action="{{Path "account.management.role.edit.post" "{roleID}" .Vars.Role.ID}}{{.URL.Query.String}}" method="POST">
		{{template "com.form.csrf" .}}

		{{template "com.view.form.role_name" .WithProps
			"Label" (.T "site.account.role_management.edit.name_label")
			"Name" "name"
			"Required" true
			"Value" (.Form.GetOr "name" .Vars.Role.Name)
		}}

		{{template "com.view.form.role_description" .WithProps
			"Label" (.T "site.account.role_management.edit.description_label")
			"Name" "description"
			"Value" (.Form.GetOr "description" .Vars.Role.Description)
		}}

		<div class="cols-halves">
			{{template "com.view.form.role_permission_groups" .WithProps
				"Name" "permissions"
				"Groups" .Vars.PermissionGroups
				"Selected" (.Form.GetAllOr "permissions" .Vars.Role.Permissions)
			}}
		</div>

		<div class="bag reverse">
			<button class="push-inline-end">{{.T "site.account.role_management.edit.update_button"}}</button>

			<a href="{{Path "account.management.role.list"}}{{.URL.Query.String}}">{{.T "site.account.role_management.edit.cancel_button"}}</a>
		</div>
	</form>
</div>

{{end}}
