{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>{{.T "site.account.choose_password.title"}}</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	{{.T "p" "site.account.choose_password.allow_direct_sign_in_explanation"}}
	{{.T "p" "site.account.choose_password.totp_requirement_explanation"}}

	<form action="{{Path "account.choose_password.post"}}" method="POST">
		{{template "com.form.csrf" .}}

		{{template "com.form.password" .WithProps
			"Label" (.T "site.account.choose_password.new_password_label")
			"Name" "new-password"
			"Required" true
			"Autocomplete" "new-password"
		}}

		<div class="bag reverse">
			{{if .Session.Redirect}}
				<button>{{.T "site.account.choose_password.use_password_and_continue_button"}}</button>
			{{else}}
				<button>{{.T "site.account.choose_password.use_password_button"}}</button>
			{{end}}
		</div>
	</form>
</div>

{{end}}
