{{define "view_head"}}

<div class="center">
	<h1>Sign in</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<form action="{{Path "account.sign_in.post"}}" method="POST">
		<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

		<label for="sign-in__email">Email</label>
		<input id="sign-in__email" type="email" name="email" value="{{.Form.Get "email"}}" placeholder="email@example.com" autocomplete="email" required pattern="^[a-zA-Z0-9+._~\-]+@[a-zA-Z0-9+._~\-]+(\.[a-zA-Z0-9+._~\-]+)+$" maxlength="100">
		<p class="error">{{.Errors.Get "email"}}</p>

		<label for="sign-in__password">Password</label>
		<input id="sign-in__password" type="password" name="password" value="{{.Form.Get "password"}}" placeholder="password" autocomplete="current-password" required pattern="^.+$" minlength="8" maxlength="1000">
		<p class="error">{{.Errors.Get "password"}}</p>

		<div class="bag reverse">
			<button type="submit" class="push-inline-end">Sign in</button>

			<div>
				<a href="{{Path "account.sign_up"}}">Sign up</a><br>
				<a href="{{Path "account.reset_password"}}">Forgotten your password?</a>
			</div>
		</div>
	</form>

	{{if .Config.GoogleSignInClientID}}
		<script src="https://accounts.google.com/gsi/client" async defer></script>

		<div class="sign-in-alt text-center" style="display: none;">
			<p class="sign-in-alt__title">Or</p>

			<div
				id="g_id_onload"
				data-client_id="{{.Config.GoogleSignInClientID}}"
				data-context="signin"
				data-ux_mode="popup"
				data-login_uri="{{.URL.Scheme}}://{{.URL.Host}}/account/sign-in/google"
				data-auto_prompt="false"
			></div>

			<div
				class="g_id_signin"
				data-type="standard"
				data-shape="rectangle"
				data-theme="outline"
				data-text="signin_with"
				data-size="large"
				data-logo_alignment="center"
			></div>
		</div>

		<script>
			onMount(".sign-in-alt", node => {
				node.style.display = "block"
			})
		</script>
	{{end}}
</div>

{{end}}
