{{define "view_head"}}

<div class="center">
	<h1>Sign in</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<form action="{{Path "account.sign_in.post"}}" method="POST">
		<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

		<label for="sign-in__email">Email</label>
		<input id="sign-in__email" type="email" name="email" value="{{.Form.Get "email"}}" placeholder="ash@example.com" autocomplete="email" required pattern=".+?@.+?(\..+?)+" maxlength="100">
		<p class="error">{{.Errors.Get "email"}}</p>

		<label for="sign-in__password">Password</label>
		<input id="sign-in__password" type="password" name="password" value="{{.Form.Get "password"}}" placeholder="password" autocomplete="current-password" required pattern="[ -~]{8,100}" minlength="8" maxlength="100">
		<p class="error">{{.Errors.Get "password"}}</p>

		<div class="bag reverse">
			<button type="submit" class="push-inline-end">Sign in</button>

			<div>
				<a href="{{Path "account.sign_up"}}">Sign up</a><br>
				<a href="{{Path "account.reset_password"}}">Forgotten your password?</a>
			</div>
		</div>
	</form>
</div>

{{end}}
