{{define "subject"}}Account activated{{end}}

{{define "plain" -}}

Your account has been activated

You can now sign in using the password you chose when you verified your email address.

{{- end}}

{{define "html" -}}

<h1>Your account has been activated</h1>
<p>You can now sign in using the password you chose when you verified your email address.</p>

{{- end}}
