{{define "subject"}}Account activated{{end}}

{{define "plain" -}}

Your account has been activated

{{if .Vars.HasPassword -}}
	You can now sign in using the password you chose when you verified your email address.
{{else -}}
	You can now sign in through the platform you used to sign up.
{{end}}

{{- end}}

{{define "html" -}}

<h1>Your account has been activated</h1>

{{if .Vars.HasPassword -}}
	<p>You can now sign in using the password you chose when you verified your email address.</p>
{{else -}}
	<p>You can now sign in through the platform you used to sign up.</p>
{{end}}

{{- end}}
