{{define "subject"}}Sign up attempt at {{.URL.Hostname}}{{end}}

{{define "plain" -}}

Sign up attempt

It looks like you're trying to sign up to {{.URL.Hostname}}, but you already have an account.

If you've forgotten your password you can reset it by pasting the following code into the verification code prompt and choosing a new password:
{{.Vars.Token}}

{{- end}}

{{define "html" -}}

<h1>Sign up attempt</h1>
<p>It looks like you're trying to sign up to {{.URL.Hostname}}, but you already have an account.</p>
<p>If you've forgotten your password you can paste the following code into the verification code prompt and choosing a new password:</p>
<p>{{.Vars.Token}}</p>

{{- end}}
