{{define "master" -}}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{.App.Name}}</title>
		<meta name="description" content="{{block "metaDescription" .}}{{.App.Description}}{{end}}">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		{{template "com_js" .}}

		<a href="#main-content" class="skip-nav-link">Skip navigation</a>

		{{template "header" .}}

		<main id="main-content" class="main">
			{{if .Session.IsAuthenticated}}
				<div class="top-bar">
					{{if HasPathPrefix .URL.Path (Path "admin.section")}}
						{{template "nav_admin" .}}
					{{end}}

					{{if HasPathPrefix .URL.Path (Path "account.section")}}
						{{template "nav_account" .}}
					{{end}}
				</div>
			{{end}}

			{{if and .ErrorMessage (ne .View "error")}}
				<div class="error-banner center">
					<p>Error: {{.ErrorMessage}}</p>
				</div>
			{{end}}

			{{if .Session.Flash}}
				<div class="flash-banner{{if .Session.FlashImportant}} flash-banner--important{{end}} center">
					<p>{{.Session.Flash}}</p>
				</div>
			{{end}}

			{{template "view" .}}
		</main>

		{{template "footer" .}}
	</body>
</html>

{{- end}}
