{{define "master" -}}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{block "meta_title" .}}{{.App.Name}}{{end}}</title>
		<meta name="description" content="{{block "meta_description" .}}{{.App.Description}}{{end}}">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		{{template "com_js" .}}

		<a href="#main-content" class="skip-nav-link">Skip navigation</a>

		{{template "header" .}}

		<main id="main-content" class="main">
			{{if .Session.IsSignedIn}}
				<div class="top-bar">
					{{if HasPathPrefix .URL.Path "admin.section"}}
						{{template "nav_admin" .}}
					{{end}}

					{{if HasPathPrefix .URL.Path "account.section"}}
						{{template "nav_account" .}}
					{{end}}
				</div>
			{{end}}

			{{block "view_head" .}}{{end}}

			{{if and .ErrorMessage (ne .View "error")}}
				<div class="error-banner center">
					<p>{{.ErrorMessage}}</p>
				</div>
			{{end}}

			{{range $flash := .Session.FlashImportant}}
				<div class="flash-banner flash-banner--important center">
					<p>{{UnescapeHTML $flash}}</p>
				</div>
			{{end}}

			{{range $flash := .Session.Flash}}
				<div class="flash-banner center">
					<p>{{UnescapeHTML $flash}}</p>
				</div>
			{{end}}

			{{block "view_body" .}}{{end}}
		</main>

		{{template "footer" .}}
	</body>
</html>

{{- end}}
