{{define "view"}}

<div class="totp center">
	<p class="title">Two-Factor Authentication Already Disabled</p>

	<p>Two-factor authentication is already disabled for your account.</p>
	<p><a href="{{Path "account.totp.setup"}}">Setup two-factor authentication.</a></p>
</div>

{{end}}
