{{define "view"}}

<div class="center">
	<h1>Two-factor authentication disabled</h1>

	<p>Two-factor authentication has been disabled for your account.</p>
	<p>From now on you will not be required to provide any passcodes when logging in to your account.</p>
</div>

{{end}}
