{{define "view"}}

<div class="totp center">
	<p class="title">Two-Factor Authentication Disabled</p>

	<p>Two-factor authentication has been disabled for your account.</p>
	<p>From now on you will not be required to provide any passcodes when logging in to your account.</p>
</div>

{{end}}
