@layer components {
	.pagination {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding-block-start: 1rem;
	}

	.pagination__links {
		display: flex;
		justify-content: end;
		gap: 0.7rem;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.pagination-link--active::before {
		content: "[";
	}

	.pagination-link--active::after {
		content: "]";
	}
}
