{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<div class="center">
	<h1>Reset two-factor authentication request sent</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<p>A request for two-factor authentication to be reset for your account has been sent.</p>
	<p>Please be patient as your request will have to be manually reviewed.</p>
	<p>If the person reviewing your case believes it to be a legitimate request you'll be sent another link by email to reset two-factor authentication.</p>
</div>

{{end}}
