{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>Choose a password</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	<p>Choosing a password will enable you to sign in directly through the <a href="{{Path "account.sign_in"}}">sign in form</a>.</p>
	<p>It's also a requirement for setting up two-factor authentication. This is because if you decide to disable two-factor authentication later on we'll need to verify your identity by asking you for your password.</p>

	<form action="{{Path "account.choose_password.post"}}" method="POST">
		{{template "com.form.csrf" .}}

		{{template "com.form.password" .WithProps
			"Label" "New password"
			"Name" "new-password"
			"Required" true
			"Autocomplete" "new-password"
		}}

		<div class="bag reverse">
			<button>Use this password{{if .Session.Redirect}} and continue{{end}}</button>
		</div>
	</form>
</div>

{{end}}
