{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<h1>Home</h1>

{{end}}

{{define "view_body"}}

<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Perferendis quod doloremque quam earum amet similique beatae, delectus illum maiores, aliquid aspernatur odit rerum ratione deserunt ducimus suscipit facere corrupti eaque.</p>

{{end}}
