{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<div class="center">
	<h1>Reset password</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<form action="{{Path "account.reset_password.post"}}" method="POST">
		{{template "com_csrf_input" .}}

		{{template "com_email_input" .WithProps
			"Label" "Email"
			"Name" "email"
			"Required" true
			"Autocomplete" "username"
		}}

		<div class="bag reverse">
			<button>Send reset password link</button>
		</div>
	</form>
</div>

{{end}}
