{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>Setup</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	<form action="{{Path "system.setup.post"}}" method="POST">
		{{template "com.form.csrf" .}}

		<fieldset>
			<legend>Account</legend>

			<p>We'll create an admin account using the email and password you enter below.</p>

			{{template "com.form.email" .WithProps
				"Label" "Email"
				"Name" "email"
				"Required" true
				"Autocomplete" "username"
			}}

			{{template "com.form.password" .WithProps
				"Label" "Password"
				"Name" "password"
				"Required" true
				"Autocomplete" "current-password"
			}}
		</fieldset>

		<fieldset>
			<legend>Email</legend>

			{{template "com.form.email" .WithProps
				"Label" "System email"
				"Hint" "from address in system emails"
				"Name" "system-email"
				"Value" (.Form.GetOr "system-email" .Config.SystemEmail)
				"Required" true
				"Autocomplete" "email"
			}}

			{{template "com.form.email" .WithProps
				"Label" "Security email"
				"Hint" "for reporting security vulnerabilities"
				"Name" "security-email"
				"Value" (.Form.GetOr "security-email" .Config.SecurityEmail)
				"Required" true
				"Autocomplete" "email"
			}}
		</fieldset>

		<div class="bag reverse">
			<button class="push-inline-end">Finish setup</button>
		</div>
	</form>
</div>

{{end}}
