{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>{{.T "site.account.user_management.edit.title" "user_email" .Vars.User.Email}}</h1>
</div>

{{end}}

{{define "view.body"}}

{{$isEditUserSuper := .Vars.UserIsSuper}}
{{$canAssignSuperRole := .Passport.Account.CanAssignSuperRole .Vars.User.ID}}
{{$canChangeRoles := .Passport.Account.CanChangeRoles .Vars.User.ID}}
{{$canSuspendUser := and .Passport.Account.CanSuspendUsers (not .Vars.User.IsSuspended) (not $isEditUserSuper)}}
{{$canUnsuspendUser := and .Passport.Account.CanUnsuspendUsers .Vars.User.IsSuspended}}
{{$viewSuspend := .URL.Query.Has "suspend"}}

<div class="center">
	{{if eq .Vars.User.ID .Session.UserID}}
		<div class="warning-banner">
			{{.T "p" "site.account.user_management.edit.editing_yourself_warning"}}
		</div>
	{{end}}

	{{if not .Vars.User.IsVerified}}
		<p class="text-italic text-bold">{{.T "site.account.user_management.edit.not_verified"}}</p>
	{{end}}

	{{if .Vars.User.HasSignedIn}}
		{{.T "p" "site.account.user_management.edit.last_signed_in_at" "last_signed_in_at" .Vars.User.LastSignedInAt}}
	{{end}}

	{{if or .Vars.User.IsSuspended $viewSuspend}}
		{{if or $canSuspendUser $canUnsuspendUser}}
			<form action="{{Path "account.management.user.suspend.post" "{userID}" .Vars.User.ID}}{{.URL.Query.String}}" method="POST">
				{{template "com.form.csrf" .}}

				<fieldset>
					{{if .Vars.User.IsSuspended}}
						<legend>{{.T "site.account.user_management.suspend.suspended_title"}}</legend>
					{{else}}
						<legend>{{.T "site.account.user_management.suspend.suspend_title"}}</legend>
					{{end}}

					{{if .Vars.User.IsSuspended}}
						{{.T "p" "site.account.user_management.suspend.suspended_at" "suspended_at" .Vars.User.SuspendedAt}}
					{{else}}
						<div class="warning-box">
							{{.T "p" "site.account.user_management.suspend.warning"}}
						</div>
					{{end}}

					{{template "com.form.text" .WithProps
						"Label" (.T "site.account.user_management.suspend.reason_label")
						"Name" "suspended-reason"
						"Value" (.Form.GetOr "suspended-reason" .Vars.User.SuspendedReason)
						"Placeholder" (.T "site.account.user_management.suspend.reason_placeholder")
						"Pattern" `^[ -~]*$`
						"MaxLength" 100
					}}

					{{if $viewSuspend}}
						<a href="{{or (.URL.Query.Replace "suspend" "") .URL.Path}}">{{.T "site.account.user_management.suspend.edit_button"}}</a>
					{{end}}

					<div class="bag reverse">
						{{if .Vars.User.IsSuspended}}
							<button>{{.T "site.account.user_management.suspend.update_reason_button"}}</button>
							<button formnovalidate formaction="{{Path "account.management.user.unsuspend.post" "{userID}" .Vars.User.ID}}" class="btn--danger push-inline-end">{{.T "site.account.user_management.suspend.unsuspend_button"}}</button>
						{{else}}
							<button class="btn--danger push-inline-end">{{.T "site.account.user_management.suspend.suspend_button"}}</button>
						{{end}}

						<a href="{{Path "account.management.user.list"}}{{.URL.Query.String}}">{{.T "site.account.user_management.suspend.cancel_button"}}</a>
					</div>
				</fieldset>
			</form>
		{{else}}
			{{.T "p" "site.account.user_management.suspend.no_permission"}}
		{{end}}
	{{else}}
		{{if $canChangeRoles}}
			<form action="{{Path "account.management.user.roles.post" "{userID}" .Vars.User.ID}}{{.URL.Query.String}}" method="POST">
				{{template "com.form.csrf" .}}

				{{if $isEditUserSuper}}
					<input type="hidden" name="roles" value="{{.Vars.SuperRole.ID}}">
				{{end}}

				<fieldset>
					<legend>{{.T "site.account.user_management.edit.roles_title"}}</legend>

					{{$roleIDs := .Form.GetAllOr "roles" .Vars.UserRoleIDs}}
					{{if not $canChangeRoles}}
						{{$roleIDs = ToStrings .Vars.UserRoleIDs}}
					{{end}}

					{{range .Vars.Roles}}
						{{$isSuperRole := eq .ID $.Vars.SuperRole.ID}}
						{{if and $isSuperRole (not $isEditUserSuper)}}
							{{continue}}
						{{end}}

						{{$isChecked := HasString $roleIDs .ID}}
						{{$isDisabled := $isSuperRole}}

						<label>
							<input
								type="checkbox"
								name="roles"
								value="{{.ID}}"
								{{if $isChecked}}checked{{end}}
								{{if $isDisabled}}disabled{{end}}
							>
							{{.Name}}
						</label>
					{{end}}

					{{if and $canAssignSuperRole (not $isEditUserSuper)}}
						<details>
							<summary>{{.T "site.account.user_management.edit.give_super_title"}}</summary>

							<div class="warning-box">
								{{.T "p" "site.account.user_management.edit.give_super_warning"}}

								<p>
									<label>
										<input type="checkbox" name="roles" value="{{.Vars.SuperRole.ID}}">
										{{.T "site.account.user_management.edit.give_super_checkbox_label"}}
									</label>
								</p>
							</div>
						</details>
					{{end}}
				</fieldset>

				{{if not $isEditUserSuper}}
					<hr>

					<div class="cols-halves">
						<div>
							<b>{{.T "site.account.user_management.edit.grants_title"}}</b>

							{{$grants := .Form.GetAllOr "grants" .Vars.User.Grants}}
							{{range .Vars.PermissionGroups}}
								{{$count := 0}}
								{{range .Permissions}}
									{{if HasString $grants .Name}}
										{{$count = Add $count 1}}
									{{end}}
								{{end}}

								<details{{if $count}} open{{end}}>
									<summary><b>{{$.T .Name}}</b></summary>

									<fieldset>
										{{range .Permissions}}
											<label>
												<input
													type="checkbox"
													name="grants"
													value="{{.Name}}"
													{{if HasString $grants .Name}}checked{{end}}
												>
												{{$.T .DisplayName}}
											</label>
										{{end}}
									</fieldset>
								</details>
							{{end}}
						</div>

						<div>
							<b>{{.T "site.account.user_management.edit.denials_title"}}</b>

							{{$denials := .Form.GetAllOr "denials" .Vars.User.Denials}}
							{{range .Vars.PermissionGroups}}
								{{$count := 0}}
								{{range .Permissions}}
									{{if HasString $denials .Name}}
										{{$count = Add $count 1}}
									{{end}}
								{{end}}

								<details{{if $count}} open{{end}}>
									<summary><b>{{$.T .Name}}</b></summary>

									<fieldset>
										{{range .Permissions}}
											<label>
												<input
													type="checkbox"
													name="denials"
													value="{{.Name}}"
													{{if HasString $denials .Name}}checked{{end}}
												>
												{{$.T .DisplayName}}
											</label>
										{{end}}
									</fieldset>
								</details>
							{{end}}
						</div>

						<script type="module">
							import { onMount } from "{{.Asset.TagJSImport "/js/dom.js"}}"

							onMount("input[name='denials']", node => {
								node.addEventListener("change", () => {
									if (!node.checked) {
										return
									}

									const denial = node.value
									const checkboxes = document.querySelectorAll(`input[name="grants"][value="${denial}"]`)

									for (const checkbox of checkboxes) {
										checkbox.checked = false
									}
								})
							})

							onMount("input[name='grants']", node => {
								node.addEventListener("change", () => {
									if (!node.checked) {
										return
									}

									const grant = node.value
									const checkboxes = document.querySelectorAll(`input[name="denials"][value="${grant}"]`)

									for (const checkbox of checkboxes) {
										checkbox.checked = false
									}
								})
							})
						</script>
					</div>

					<details>
						<summary>{{.T "site.account.user_management.edit.grant_denial_explanation_title"}}</summary>

						{{.T "p" "site.account.user_management.edit.grant_denial_explanation"}}
					</details>

					<hr>

					<a href="{{.URL.Query.Replace "suspend" "1"}}">{{.T "site.account.user_management.edit.suspend_button"}}</a>
				{{end}}

				<div class="bag reverse">
					<button class="push-inline-end">{{.T "site.account.user_management.edit.update_button"}}</button>

					<a href="{{Path "account.management.user.list"}}{{.URL.Query.String}}">{{.T "site.account.user_management.edit.cancel_button"}}</a>
				</div>
			</form>
		{{end}}
	{{end}}
</div>

{{end}}
