{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>{{.T "site.account.user_management.review_totp_reset.title" "user_email" .Vars.User.Email}}</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	{{.T "p" "site.account.user_management.review_totp_reset.explanation" "user_email" .Vars.User.Email}}

	<div class="warning-banner">
		{{.T "p" "site.account.user_management.review_totp_reset.explanation_warning"}}
	</div>

	<div class="bag reverse">
		<a href="{{Path "account.management.user.totp_reset_approve" "{userID}" .Vars.User.ID}}" class="btn">{{.T "site.account.user_management.review_totp_reset.approve_button"}}</a>
		<a href="{{Path "account.management.user.totp_reset_deny" "{userID}" .Vars.User.ID}}" class="btn btn--alt push-inline-end">{{.T "site.account.user_management.review_totp_reset.deny_button"}}</a>

		<a href="{{Path "account.management.user.list"}}{{.URL.Query.String}}">{{.T "site.account.user_management.review_totp_reset.cancel_button"}}</a>
	</div>
</div>

{{end}}
