{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>{{.T "site.system.setup.title"}}</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	<form action="{{Path "system.setup.post"}}" method="POST">
		{{template "com.form.csrf" .}}

		<fieldset>
			<legend>{{.T "site.system.setup.account_section_title"}}</legend>

			{{.T "p" "site.system.setup.account_section_description"}}

			{{template "com.form.email" .WithProps
				"Label" (.T "site.system.setup.email_label")
				"Name" "email"
				"Required" true
				"Autocomplete" "username"
			}}

			{{template "com.form.password" .WithProps
				"Label" (.T "site.system.setup.password_label")
				"Name" "password"
				"Required" true
				"Autocomplete" "current-password"
			}}
		</fieldset>

		<fieldset>
			<legend>{{.T "site.system.setup.email_section_title"}}</legend>

			<label>{{.T "site.system.setup.smtp_envelope_email_label"}} <small>{{.T "site.system.setup.smtp_envelope_email_hint"}}</small></label>
			{{if .Vars.SMTPEnvelopeEmail}}
				<input type="text" value="{{.Vars.SMTPEnvelopeEmail}}" disabled>
			{{else}}
				<input type="text" value="{{.T "site.system.setup.smtp_envelope_email_unset"}}" disabled>
			{{end}}

			{{template "com.form.email" .WithProps
				"Label" (.T "site.system.setup.system_email_label")
				"Hint" (.T "site.system.setup.system_email_hint")
				"Name" "system-email"
				"Value" (.Form.GetOr "system-email" .Config.SystemEmail)
				"Required" true
				"Autocomplete" "email"
			}}

			{{template "com.form.email" .WithProps
				"Label" (.T "site.system.setup.security_email_label")
				"Hint" (.T "site.system.setup.security_email_hint")
				"Name" "security-email"
				"Value" (.Form.GetOr "security-email" .Config.SecurityEmail)
				"Required" true
				"Autocomplete" "email"
			}}
		</fieldset>

		<div class="bag reverse">
			<button class="push-inline-end">{{.T "site.system.setup.setup_button"}}</button>
		</div>
	</form>
</div>

{{end}}
