{{define "com_role_name_input" -}}

{{template "com_form_input" .WithComData
	"ComData" .ComData
	"Type" "text"
	"Placeholder" "Role name"
	"Pattern" `^[ -~]+$`
	"MinLength" 1
	"MaxLength" 30
}}

{{- end}}
