{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<div class="center">
	<h1>Editing {{.Vars.Role.Name}}</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<form action="{{Path "account.management.role.edit.post" "{roleID}" .Vars.Role.ID}}{{.URL.Query.String}}" method="POST">
		{{template "com_csrf_input" .}}

		{{template "com_role_name_input" .WithComData
			"Label" "Name"
			"Name" "name"
			"Required" true
			"Value" (.Form.GetOr "name" .Vars.Role.Name)
		}}

		{{template "com_role_description_input" .WithComData
			"Label" "Description"
			"Name" "description"
			"Value" (.Form.GetOr "description" .Vars.Role.Description)
		}}

		<div class="cols-halves">
			{{template "com_role_permission_groups" .WithComData
				"Name" "permissions"
				"Groups" .Vars.PermissionGroups
				"Selected" ($.Form.GetAllOr "permissions" .Vars.Role.Permissions)
			}}
		</div>

		<div class="bag reverse">
			<button type="submit" class="push-inline-end">Update role</button>

			<a href="{{Path "account.management.role.list"}}{{.URL.Query.String}}">Cancel</a>
		</div>
	</form>
</div>

{{end}}
