{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<div class="center">
	<h1>New role</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<form action="{{Path "account.management.role.new.post"}}" method="POST">
		{{template "com_csrf_input" .}}

		{{template "com_role_name_input" .WithComData
			"Label" "Name"
			"Name" "name"
			"Required" true
		}}

		{{template "com_role_description_input" .WithComData
			"Label" "Description"
			"Name" "description"
		}}

		<div class="cols-50-50">
			{{template "com_role_permission_groups" .WithComData
				"Name" "permissions"
				"Groups" .Vars.PermissionGroups
				"Selected" ($.Form.GetAll "permissions")
			}}
		</div>

		<div class="bag reverse">
			<button type="submit" class="push-inline-end">Add role</button>

			<a href="{{Path "account.management.role.list"}}{{.URL.Query.String}}">Cancel</a>
		</div>
	</form>
</div>

{{end}}
