{{define "admin_nav"}}

{{if HasPrefix .URL.Path "/admin/"}}
	<nav class="admin-nav">
		<ul>
			<li><a href="{{Path "account.management.role.list"}}">Role management</a></li>
			<li><a href="{{Path "account.management.user.list"}}">User management</a></li>
		</ul>
	</nav>
{{end}}

{{end}}
