{{define "com_pagination"}}

{{$book := .ComData.Book}}

{{if $book}}
	{{$startEntry := Add 1 (Mul $book.PageSize (Sub $book.Page.Number 1))}}
	{{$endEntry := Add (Sub $startEntry 1) (len $book.Page.Rows)}}

	<nav class="pagination">
		<div class="pagination__info">
			{{if len $book.Page.Rows}}
				{{if eq $startEntry $endEntry}}
					Showing entry <span data-locale-number>{{$startEntry}}</span> of <span data-locale-number>{{$book.TotalRows}}</span>
				{{else}}
					Showing entries <span data-locale-number>{{$startEntry}}</span>-<span data-locale-number>{{$endEntry}}</span> of <span data-locale-number>{{$book.TotalRows}}</span>
				{{end}}
			{{end}}

			<form class="bag inline-flex">
				{{template "com_query_inputs" .WithComData "Skip" (Slice "size")}}

				<select name="size">
					{{range $i := Ints 1 11}}
						{{$n := Mul $i 10}}
						<option value="{{$n}}"{{if eq $n $book.PageSize}} selected{{end}}>{{$n}} / page</option>
					{{end}}
				</select>

				<noscript>
					<button type="submit" class="btn--alt">Update</button>
				</noscript>
			</form>
		</div>

		<ul class="pagination__links">
			{{if and (len $book.Page.Rows) (gt $book.TotalPages 1)}}
				{{if gt $book.Page.Number 1}}
					<li><a href="{{.URL.Query.Replace "page" "1"}}" aria-label="First page">&laquo; First</a></li>
					<li><a href="{{.URL.Query.Replace "page" (Sub $book.Page.Number 1)}}" aria-label="Previous page">&lt; Prev</a></li>
				{{end}}

				{{range $i := Ints (Sub $book.Page.Number 2) (Add $book.Page.Number 3)}}
					{{if and (gt $i 0) (le $i $book.TotalPages)}}
						{{$isActive := eq $i $book.Page.Number}}
						<li>
							<a
								href="{{$.URL.Query.Replace "page" $i}}"
								aria-label="Page {{$i}}"
								data-locale-number
								{{if $isActive}}class="pagination__active"{{end}}
							>{{$i}}</a>
						</li>
					{{end}}
				{{end}}

				{{if lt $book.Page.Number $book.TotalPages}}
					<li><a href="{{.URL.Query.Replace "page" (Add $book.Page.Number 1)}}" aria-label="Next page">Next &gt;</a></li>
					<li><a href="{{.URL.Query.Replace "page" $book.TotalPages}}" aria-label="Last page">Last &raquo;</a></li>
				{{end}}
			{{else if not (eq $book.Page.Number 1)}}
				<li><a href="{{.URL.Query.Replace "page" (Sub $book.Page.Number 1)}}" aria-label="Previous page">&lt; Prev</a></li>
				<li><a href="{{.URL.Query.Replace "page" "1"}}">Go to the first page</a></li>
			{{end}}
		</ul>
	</nav>

	{{if .State.Store "ComPagination_JSInitialised" true}}
		<script>
			onMount(".pagination__info select", node => {
				const form = node.closest("form")

				node.addEventListener("change", () => form.submit())
			})
		</script>
	{{end}}
{{else}}
	<p>Pagination component: required fields: Book.</p>
{{end}}

{{end}}
