{{define "com_sms_tel_input" -}}

{{template "com_form_input" .WithComData
	"ComData" .ComData
	"Type" "tel"
	"Hint" "full number with country code"
	"Placeholder" "+00 00 0000 0000"
	"Pattern" `^\+\d(\d| )+$`
	"MinLength" 4
	"MaxLength" 25
}}

{{- end}}
