{{define "com_sort"}}

{{$key := .ComData.Key}}
{{$direction := .ComData.Direction}}
{{if ne $direction "desc"}}
	{{$direction = "asc"}}
{{end}}

{{if $key}}
	{{$value := printf "%v.%v" $key $direction}}
	{{$arrow := "▼"}}
	{{$sort := .URL.Query.Get "sort"}}
	{{$isActive := HasPrefix $sort (printf "%v." $key)}}

	{{if $isActive}}
		{{if HasSuffix $sort ".asc"}}
			{{if ne $direction "asc"}}
				{{$value = ""}}
			{{else}}
				{{$value = printf "%v.desc" $key}}
			{{end}}

			{{$arrow = "▼"}}
		{{else}}
			{{if ne $direction "desc"}}
				{{$value = ""}}
			{{else}}
				{{$value = printf "%v.asc" $key}}
			{{end}}

			{{$arrow = "▲"}}
		{{end}}
	{{end}}

	{{$class := "data-table-sort"}}
	{{if $isActive}}
		{{$class = printf "%v data-table-sort--active" $class}}
	{{end}}

	<a href="{{or (.URL.Query.String "sort" $value) .URL.Path}}" aria-label="Sort by {{$key}}" class="{{$class}}">{{$arrow}}</a>
{{else}}
	<p>Sort component: required fields: Key.</p>
{{end}}

{{end}}
