{{define "com_recovery_code_input" -}}

{{template "com_form_input" .WithComData
	"ComData" .ComData
	"Type" "text"
	"Hint" "13 alphanumeric characters"
	"Placeholder" "ABCD234567XYZ"
	"Pattern" `^[A-Z2-7]+$`
	"MinLength" 13
	"MaxLength" 13
}}

{{- end}}
