{{define "com_password_input" -}}

{{$hint := ""}}
{{if eq .ComData.Autocomplete "new-password"}}
	{{$hint = "at least 8 characters"}}
{{end}}

{{template "com_form_input" .WithComData
	"ComData" .ComData
	"Type" "password"
	"Hint" $hint
	"Placeholder" "password"
	"Pattern" `^.+$`
	"MinLength" 8
	"MaxLength" 1000
}}

{{- end}}
