{{define "com_password_input" -}}

{{template "com_form_input" .WithComData
	"ComData" .ComData
	"Type" "password"
	"Placeholder" "password"
	"Pattern" `^.+$`
	"MinLength" 8
	"MaxLength" 1000
}}

{{- end}}
