{{define "footer"}}

<footer class="footer">
	<div class="footer__col">
		<p>Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Voluptates dolores cum cumque rerum error architecto aut quibusdam ipsam sapiente quis iste magnam animi, in eaque placeat distinctio soluta atque commodi.</p>
	</div>

	<div class="footer__col">
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In unde consequatur tempora exercitationem repellat possimus ullam nemo nobis hic, tenetur, animi necessitatibus perspiciatis nihil ipsa eligendi dignissimos. Voluptate, sequi, consectetur!</p>
	</div>

	<div class="footer__col">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Autem distinctio rerum soluta beatae, aperiam minus qui praesentium ex totam odio dicta officiis a iste optio cupiditate atque ducimus ipsam quos!</p>
	</div>

	<div class="footer__col">
		<p>Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Quo officiis eum quibusdam possimus atque blanditiis, quaerat iure deserunt unde facilis sint debitis! Deserunt cumque placeat obcaecati atque adipisci sequi, dolore!</p>
	</div>
</footer>

{{end}}
