{{define "header"}}

<header class="header">
	<p class="site-title">{{.App.Name}}</p>

	<nav class="nav">
		<ul>
			<li><a href="{{Path "page/home"}}">Home</a></li>

			{{if .Session.IsAuthenticated}}
				<li><a href="{{Path "account.dashboard"}}">Account</a></li>
				<li>
					<form action="{{Path "account.logout.post"}}" method="POST">
						<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

						<button type="submit">Logout</button>
					</form>
				</li>
			{{else}}
				<li><a href="{{Path "account.login"}}">Login</a></li>
			{{end}}
		</ul>
	</nav>
</header>

{{end}}
