{{define "nav_admin"}}

{{if .Passport.CanAccessAdmin}}
	<nav>
		<ul>
			{{if .Passport.CanViewUsers}}
				<li><a href="{{Path "account.management.user.list"}}">User management</a></li>
			{{end}}

			{{if .Passport.CanViewRoles}}
				<li><a href="{{Path "account.management.role.list"}}">Role management</a></li>
			{{end}}

			{{if .Passport.CanViewConfig}}
				<li><a href="{{Path "system.config"}}">System configuration</a></li>
			{{end}}
		</ul>
	</nav>
{{end}}

{{end}}
