:root {
	--clr-loading: rgba(0, 0, 0, 0);
	--clr-loading--show: rgba(0, 0, 0, 0.5);
	--clr-loading-spinner: var(--clr-accent-100);
}

@layer universal {
	html {
		font-size: clamp(var(--fs-min), 2rem - 2vw, var(--fs-max));
	}

	@media screen and (display-mode: standalone) {
		h1, h2, h3, h4, h5, h6, p, a
		button,
		label {
			user-select: none;
		}
	}
}

@layer components {
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.header,
	.main {
		max-width: 960px;
		margin-inline: auto;
	}

	.sign-in-splash {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-inline: 1rem;
		background: var(--clr-white-400);
		overflow: auto;
	}

	.sign-in-splash > * {
		max-width: 420px;
		margin-inline: auto;
	}

	.loading {
		display: flex;
		align-items: center;
		justify-content: center;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--clr-loading);
		user-select: none;
		pointer-events: none;
		transition: background 300ms;
	}

	.loading--show {
		background: var(--clr-loading--show);
		pointer-events: auto;
	}

	.loading__spinner {
		display: block;
		width: 150px;
		height: 150px;
	}

	.loading__spinner::after {
		content: " ";
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 15px solid transparent;
		transition: border-color 300ms;
		animation: loading__spinner 1.2s ease-in-out infinite;
	}

	.loading--show .loading__spinner::after {
		border-color:
			var(--clr-loading-spinner)
			transparent
			var(--clr-loading-spinner)
			transparent;
	}

	@keyframes loading__spinner {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
}
