{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>{{.T "site.account.sign_in.magic_link.title"}}</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	{{if .ErrorMessage}}
		{{.T "p" "site.account.sign_in.magic_link.error_message"}}
	{{else if .Session.IsSignedIn}}
		{{.T "p" "site.account.sign_in.magic_link.already_signed_in"}}

		<form action="{{Path "account.sign_out.post"}}" method="POST">
			{{template "com.form.csrf" .}}

			<div class="bag">
				<button class="btn--link">{{.T "site.account.sign_in.magic_link.sign_out_button"}}</button>
			</div>
		</form>
	{{else if not (.URL.Query.Get "token")}}
		{{.T "p" "site.account.sign_in.magic_link.no_token_message"}}
	{{else}}
		{{.T "p" "site.account.sign_in.magic_link.click_button_if_no_redirect"}}

		<form action="{{Path "account.sign_in.magic_link.post"}}{{.URL.Query.String}}" method="POST" id="magic-link-sign-in-form">
			{{template "com.form.csrf" .}}
			<input type="hidden" name="token" value="{{.URL.Query.Get "token"}}">

			<div class="bag">
				<button>{{.T "site.account.sign_in.magic_link.sign_in_button"}}</button>
			</div>
		</form>

		<script type="module">
			import { onMount } from "{{.Asset.TagJSImport "/js/dom.js"}}"

			onMount("#magic-link-sign-in-form", node => {
				node.submit()
			})
		</script>
	{{end}}
</div>

{{end}}
