{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>{{.T "site.account.sign_in.passcode.title"}}</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	{{$useSMS := eq .Session.TOTPMethod "sms"}}

	{{if $useSMS}}
		{{.T "p" "site.account.sign_in.passcode.sms_instructions"}}
	{{else}}
		{{.T "p" "site.account.sign_in.passcode.app_instructions"}}
	{{end}}

	<form action="{{Path "account.sign_in.totp.post"}}" method="POST">
		{{template "com.form.csrf" .}}

		{{template "com.form.passcode" .WithProps
			"Label" (.T "site.account.sign_in.passcode.passcode_label")
			"Name" "totp"
			"Required" true
			"Autocomplete" "one-time-code"
			"Autofocus" true
		}}

		<div class="bag reverse">
			<button{{if not $useSMS}} class="push-inline-end"{{end}}>{{.T "site.account.sign_in.passcode.sign_in_button"}}</button>

			{{if $useSMS}}
				<button formnovalidate formaction="{{Path "account.totp.sms.send_passcode.post"}}" class="btn--alt push-inline-end">{{.T "site.account.sign_in.passcode.resend_passcode_sms_button"}}</button>
			{{end}}

			<div class="stack">
				<a href="{{Path "account.sign_in.recovery_code"}}">{{.T "site.account.sign_in.passcode.use_recovery_code_button"}}</a>
				<a href="{{Path "account.sign_in.totp.reset"}}">{{.T "site.account.sign_in.passcode.totp_reset_button"}}</a>
			</div>
		</div>
	</form>
</div>

{{end}}
