{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>{{.T "site.account.totp.setup.methods.title"}}</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	{{.T "p" "site.account.totp.setup.methods.text"}}

	{{if and .Config.TOTPSMSEnabled .Config.HasSMS}}
		{{.T "p" "site.account.totp.setup.methods.app_sms_choice_text"}}

		<div class="cols-halves">
			<div>
				{{.T "p" "site.account.totp.setup.methods.app_choice_text"}}

				<form action="{{Path "account.totp.setup.post"}}" method="POST">
					{{template "com.form.csrf" .}}
					<input type="hidden" name="method" value="app">

					<button>{{.T "site.account.totp.setup.methods.use_app_button"}}</button>
				</form>
			</div>

			<div>
				{{.T "p" "site.account.totp.setup.methods.sms_choice_text"}}

				<form action="{{Path "account.totp.setup.post"}}" method="POST">
					{{template "com.form.csrf" .}}
					<input type="hidden" name="method" value="sms">

					<button class="btn--alt">{{.T "site.account.totp.setup.methods.use_sms_button"}}</button>
				</form>
			</div>
		</div>
	{{else}}
		{{.T "p" "site.account.totp.setup.methods.app_only_text"}}

		<form action="{{Path "account.totp.setup.post"}}" method="POST">
			{{template "com.form.csrf" .}}
			<input type="hidden" name="method" value="app">

			<button>{{.T "site.account.totp.setup.methods.start_setup_button"}}</button>
		</form>
	{{end}}
</div>

{{end}}
