{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>{{.T "site.account.totp.setup.sms.title"}}</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	<div class="warning-banner">
		{{.T "p" "site.account.totp.setup.sms.warning_text"}}
	</div>

	{{.T "p" "site.account.totp.setup.sms.instruction_text"}}

	<form action="{{Path "account.totp.setup.sms.post"}}" method="POST">
		{{template "com.form.csrf" .}}

		{{template "com.form.sms_tel" .WithProps
			"Label" (.T "site.account.totp.setup.sms.tel_label")
			"Name" "tel"
			"Value" (.Form.GetOr "tel" .Vars.TOTPTel)
			"Autocomplete" "tel"
		}}

		<div class="bag reverse">
			<button>{{.T "site.account.totp.setup.sms.send_passcode_button"}}</button>
		</div>
	</form>
</div>

{{end}}
