{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>Choose a new password</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	<form action="{{Path "account.reset_password.new_password.post"}}{{.URL.Query.String}}" method="POST">
		{{template "com.form.csrf" .}}
		<input type="hidden" name="token" value="{{.URL.Query.Get "token"}}">

		{{template "com.form.password" .WithProps
			"Label" "New password"
			"Name" "new-password"
			"Required" true
			"Autocomplete" "new-password"
		}}

		<div class="bag reverse">
			<button>Update password</button>
		</div>
	</form>
</div>

{{end}}
