{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>Reset password</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	<form action="{{Path "account.reset_password.post"}}" method="POST">
		{{template "com.form.csrf" .}}

		{{template "com.form.email" .WithProps
			"Label" "Email"
			"Name" "email"
			"Required" true
			"Autocomplete" "username"
		}}

		<div class="bag reverse">
			<button>Send reset password link</button>
		</div>
	</form>
</div>

{{end}}
