{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<div class="center">
	<h1>Change password</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	{{if .Session.KnownPasswordBreachCount}}
		<div class="warning-banner">
			<p>
				The password you're currently using appears <span data-locale-number>{{.Session.KnownPasswordBreachCount}}</span> {{if gt .Session.KnownPasswordBreachCount 1}}times{{else}}time{{end}}
				in a <a href="https://haveibeenpwned.com" target="_blank" rel="noopener noreferrer">database of security breaches</a> and isn't considered to be secure.
			</p>
			<p>We recommend that you change this password to a more secure one as soon as possible.</p>
		</div>
	{{end}}

	<form action="{{Path "account.change_password.post"}}" method="POST">
		<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

		<label for="change-password__old-password">Old password</label>
		<input id="change-password__old-password" type="password" name="old-password" value="{{.Form.Get "old-password"}}" placeholder="old password" autocomplete="current-password" required pattern="^.+$" minlength="8" maxlength="1000">
		<p class="error">{{.Errors.Get "old password"}}</p>

		<label for="change-password__new-password">New password</label>
		<input id="change-password__new-password" type="password" name="new-password" value="{{.Form.Get "new-password"}}" placeholder="new password" autocomplete="new-password" required pattern="^.+$" minlength="8" maxlength="1000">
		<p class="error">{{.Errors.Get "new password"}}</p>

		<div class="bag reverse">
			<button type="submit">Update password{{if .Session.Redirect}} and continue{{end}}</button>

			{{if .Session.Redirect}}
				<a href="{{.Session.Redirect}}" class="btn btn--alt">Change later</a>
			{{end}}
		</div>
	</form>
</div>

{{end}}
