{{define "subject"}}Reset password request from {{.URL.Host}}{{end}}

{{define "plain" -}}

Reset your password

To reset your password paste the following URL into your browser:
{{.URL.Scheme}}://{{.URL.Host}}{{Path "account.reset_password.new_password"}}?token={{.Vars.Token}}

{{- end}}

{{define "html" -}}

<h1>Reset your password</h1>
<p><a href="{{.URL.Scheme}}://{{.URL.Host}}{{Path "account.reset_password.new_password"}}?token={{.Vars.Token}}">Click here</a> to reset your password.</p>
<p>
	If the link above does not work paste the following URL into your browser:<br>
	{{.URL.Scheme}}://{{.URL.Host}}{{Path "account.reset_password.new_password"}}?token={{.Vars.Token}}
</p>

{{- end}}
