{{define "view"}}

<div class="totp center">
	<h1>Recovery codes</h1>

	<p>Two-factor authentication has not been enabled yet.</p>
	<p>Once two-factor authentication has been enabled you will be required to provide a 6 digit passcode to verify your identity when logging in.</p>
	<p>In the event that you lose access to your authentication device you can use the following recovery codes in place of a normal passcode.</p>

	<div class="warning-banner">
		<p>Before enabling two-factor authentication, please download, print, copy, or photograph your recovery codes and store them in a safe place separate from your authentication device.</p>
		<p>
			If possible, we recommend storing them in a password manager, such as
			<a href="https://1password.com/" target="_blank" rel="noopener noreferrer">1Password</a>,
			<a href="https://www.lastpass.com/" target="_blank" rel="noopener noreferrer">LastPass</a>, or
			<a href="https://www.keepersecurity.com" target="_blank" rel="noopener noreferrer">Keeper</a>.
		</p>
	</div>

	{{template "com_recovery_codes" .ComData .Vars.RecoveryCodes}}

	<form action="{{Path "account.totp.setup.activate.post"}}" method="POST">
		<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

		<button type="submit">I have saved my recovery codes</button>
	</form>
</div>

{{end}}
