{{define "view_head"}}

<div class="center">
	<h1>Setup using an app</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<p>If you don't already have an authenticator app installed on your phone or computer then you'll need to download and install one to setup two-factor authentication.</p>
	<p>We recommend using one of the following:</p>

	<ul>
		<li>Authy (<a href="https://authy.com/download/" target="_blank" rel="noopener noreferrer">Android, iOS, Windows, Mac, Linux</a>)</li>
		<li>Google Authenticator (<a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank" rel="noopener noreferrer">Android</a>, <a href="https://apps.apple.com/us/app/google-authenticator/id388497605" target="_blank" rel="noopener noreferrer">iOS</a>)</li>
		<li>LastPass Authenticator (<a href="https://support.logmeininc.com/lastpass/help/lastpass-authenticator-lp030014" target="_blank" rel="noopener noreferrer">Android, iOS, Windows mobile</a>)</li>
		<li>1Password (<a href="https://support.1password.com/one-time-passwords/" target="_blank" rel="noopener noreferrer">Android, iOS, Windows, Mac</a>)</li>
	</ul>

	<p><a href="{{Path "account.totp.setup.sms"}}">Can't install an authenticator app? Click here to use SMS.</a></p>

	<p>
		Use your authenticator app to scan the QR code below.
		If you can't scan the QR code then you can manually enter the secret key below instead.
	</p>

	<div class="totp__qrcode">
		<p>
			<img src="{{.Vars.QRCodeBase64}}" alt="TOTP QR Code"><br>
			Secret Key:<br>
			{{.Vars.KeyBase32}}
		</p>
	</div>

	<p>After scanning the QR code, or manually entering the secret key, your app will display a 6 digit passcode that you can enter below to verify your authenticator app is setup correctly.</p>

	<form action="{{Path "account.totp.setup.app.post"}}" method="POST">
		<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

		<label for="totp__passcode">Passcode</label>
		<input id="totp__passcode" type="text" name="totp" placeholder="123456" autocomplete="off" required pattern="\d{6}" minlength="6" maxlength="6">
		<p class="error">{{.Errors.Get "totp"}}</p>

		<div class="bag reverse">
			<button type="submit">Verify setup</button>
		</div>
	</form>
</div>

{{end}}
