{{define "view"}}

<div class="totp center">
	<p class="title">Two-Factor Authentication Already Enabled</p>

	<p>Two-factor authentication has already been enabled for your account.</p>
	<p><a href="{{Path "account.totp.disable"}}">Disable two-factor authentication.</a></p>
</div>

{{end}}
