{{define "view_head"}}

<div class="center">
	<h1>Setup using SMS</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<div class="warning-banner">
		<p>Using SMS for two-factor authentication is only recommended when you can't use an authenticator app on your phone.</p>
		<p><a href="{{Path "account.totp.setup.app"}}">Don't want to use SMS? Click here to use an app.</a></p>
	</div>

	<p>Enter the phone number that you'd like to use below and we'll send you a passcode to verify your phone number has been entered correctly.</p>

	<form action="{{Path "account.totp.setup.sms.post"}}" method="POST">
		<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

		<label for="totp__telephone">Phone number <small>Full number with country code</small></label>
		<input id="totp__telephone" type="tel" name="telephone" value="{{or (.Form.Get "telephone") .Vars.TOTPTelephone}}" placeholder="+00 00 0000 0000 " autocomplete="tel" required pattern="\+\d(\d| )+" minlength="4" maxlength="25">
		<p class="error">{{.Errors.Get "new telephone"}}</p>

		<div class="bag reverse">
			<button type="submit">Use this phone number and send a passcode</button>
		</div>
	</form>
</div>

{{end}}
