{{define "view"}}

<div class="totp center">
	<h1>Setup using SMS</h1>

	<p>Enter the 6 digit passcode you received via SMS to verify that your phone number is setup correctly.</p>

	<p><a href="{{Path "account.totp.setup.app"}}">Don't want to use SMS? Click here to use an app.</a></p>

	<form action="{{Path "account.totp.setup.sms.verify.post"}}" method="POST">
		<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

		<label for="totp__passcode">Passcode</label>
		<input id="totp__passcode" type="text" name="totp" placeholder="123456" autocomplete="off" required pattern="\d{6}" minlength="6" maxlength="6">
		<p class="error">{{.Errors.Get "totp"}}</p>

		<div class="bag reverse">
			<button type="submit">Verify setup</button>
			<button type="submit" formnovalidate formaction="{{Path "account.totp.sms.send_passcode.post"}}" class="btn--alt push-inline-end">Resend passcode SMS</button>
			<a href="{{Path "account.totp.setup.sms"}}">Change phone number</a>
		</div>
	</form>
</div>

{{end}}
