{{define "view_head"}}

<div class="center">
	<h1>Two-factor authentication enabled</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<p>Two-factor authentication has been enabled for your account.</p>
	<p>From now on when logging in you'll be required to provide a 6 digit passcode to verify your identity.</p>
</div>

{{end}}
