{{define "view"}}

<div class="reset-password center">
	<h1>Choose new password</h1>

	<form action="{{Path "account.reset_password.new_password.post"}}" method="POST">
		<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">
		<input type="hidden" name="token" value="{{.URL.Query.Get "token"}}">

		<label for="reset-password__password">New password</label>
		<input id="reset-password__password" type="password" name="new-password" value="{{.Form.Get "new-password"}}" placeholder="new password" autocomplete="new-password" required pattern="[ -~]{8,100}" minlength="8" maxlength="100">
		<p class="error">{{.Errors.Get "new password"}}</p>

		<div class="bag push-inline-end">
			<button type="submit">Update password</button>
		</div>
	</form>
</div>

{{end}}
