{{define "view_head"}}

<div class="center">
	<h1>Reset password</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<form action="{{Path "account.reset_password.post"}}" method="POST">
		<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

		<label for="reset-password__email">Email</label>
		<input id="reset-password__email" type="email" name="email" value="{{.Form.Get "email"}}" placeholder="ash@example.com" autocomplete="email" required pattern=".+?@.+?(\..+?)+" maxlength="100">
		<p class="error">{{.Errors.Get "email"}}</p>

		<div class="bag reverse">
			<button type="submit">Send reset password link</button>
		</div>
	</form>
</div>

{{end}}
