{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<div class="center">
	{{if .Vars.SuperUserCount}}
		<h1>Sign up</h1>
	{{else}}
		<h1>Initial admin account sign up</h1>
	{{end}}
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	{{if .Config.SignUpEnabled}}
		{{if not .Vars.SuperUserCount}}
			<p>The first email address to be verified through the sign up process will automatically be set as an admin account.</p>
		{{end}}

		<p>You'll be able to choose your password after verifying your email address.</p>

		<form action="{{Path "account.sign_up.post"}}" method="POST">
			{{template "com_csrf_input" .}}

			{{template "com_email_input" .WithComData
				"Label" "Email"
				"Name" "email"
				"Required" true
				"Autocomplete" "username"
			}}

			<div class="bag reverse">
				<button type="submit" class="push-inline-end">Sign up</button>

				{{if .Vars.SuperUserCount}}
					<a href="{{Path "account.sign_in"}}">Already have an account?</a>
				{{end}}
			</div>
		</form>
	{{else}}
		<p>Sign up is disabled for this application.</p>
	{{end}}
</div>

{{end}}
