{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>{{.T "site.account.totp.setup.activate.title"}}</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	{{.T "p" "site.account.totp.setup.activate.text"}}

	<div class="warning-banner">
		{{.T "p" "site.account.totp.setup.activate.save_recovery_codes_warning"}}
	</div>

	{{template "com.recovery_codes" .WithProps "Codes" .Vars.RecoveryCodes}}

	<form action="{{Path "account.totp.setup.activate.post"}}" method="POST">
		{{template "com.form.csrf" .}}

		<button class="align-self-center">{{.T "site.account.totp.setup.activate.saved_recovery_codes_button"}}</button>
	</form>
</div>

{{end}}
