{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>{{.T "site.account.totp.setup.app.title"}}</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	{{.T "p" "site.account.totp.setup.app.recommendations_text"}}

	<ul>
		{{.T "li" "site.account.totp.setup.app.recommendations_list"}}
	</ul>

	{{if .Config.TOTPSMSEnabled}}
		{{.T "p" "site.account.totp.setup.app.cannot_use_app_sms_suggestion"}}
	{{end}}

	{{.T "p" "site.account.totp.setup.app.scan_qr_code_instructions"}}

	<div class="warning-banner">
		{{.T "p" "site.account.totp.setup.app.scan_on_multiple_devices_suggestion"}}
	</div>

	<div class="totp__qrcode">
		<p>
			<img src="{{.Vars.QRCodeBase64}}" alt="TOTP QR Code"><br>
			{{.T "site.account.totp.setup.app.secret_key_label"}}<br>
			{{.Vars.KeyBase32}}
		</p>
	</div>

	{{.T "p" "site.account.totp.setup.app.enter_verification_passcode_instructions"}}

	<form action="{{Path "account.totp.setup.app.post"}}" method="POST">
		{{template "com.form.csrf" .}}

		{{template "com.form.passcode" .WithProps
			"Label" (.T "site.account.totp.setup.app.passcode_label")
			"Name" "totp"
			"Required" true
			"Autocomplete" "off"
		}}

		<div class="bag reverse">
			<button>{{.T "site.account.totp.setup.app.verify_setup_button"}}</button>
		</div>
	</form>
</div>

{{end}}
