{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>{{.T "site.account.totp.setup.sms_verify.title"}}</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	<div class="warning-banner">
		{{.T "p" "site.account.totp.setup.sms_verify.warning_text"}}
	</div>

	{{.T "p" "site.account.totp.setup.sms_verify.instruction_text"}}

	<form action="{{Path "account.totp.setup.sms.verify.post"}}" method="POST">
		{{template "com.form.csrf" .}}

		{{template "com.form.passcode" .WithProps
			"Label" (.T "site.account.totp.setup.sms_verify.passcode_label")"Passcode"
			"Name" "totp"
			"Required" true
			"Autocomplete" "off"
		}}

		<div class="bag reverse">
			<button>{{.T "site.account.totp.setup.sms_verify.verify_setup_button"}}</button>
			<button formnovalidate formaction="{{Path "account.totp.sms.send_passcode.post"}}" class="btn--alt push-inline-end">{{.T "site.account.totp.setup.sms_verify.resend_passcode_button"}}</button>
			<a href="{{Path "account.totp.setup.sms"}}">{{.T "site.account.totp.setup.sms_verify.change_tel_button"}}</a>
		</div>
	</form>
</div>

{{end}}
