{{define "com.recovery_codes"}}

{{.Asset.Load "/component/recovery_codes/recovery_codes.css"}}
{{.Asset.Load "/component/recovery_codes/recovery_codes.js"}}

{{$codes := .Props.Codes}}

{{if not $codes}}{{.Log "com.recovery_codes: missing required prop: Codes"}}{{end}}

<div data-is="com.recovery_codes" class="recovery-code-list">
	<ul class="recovery-code-list__codes">
		{{range $code := $codes}}
			<li>{{$code}}</li>
		{{end}}
	</ul>

	<div class="recovery-code-list__actions bag" style="display: none;">
		<button class="btn--alt recovery-codes-download">{{.T "com.recovery_codes.download"}}</button>
		<button class="btn--alt recovery-codes-print">{{.T "com.recovery_codes.print"}}</button>
		<button class="btn--alt recovery-codes-copy">{{.T "com.recovery_codes.copy"}}</button>
	</div>
</div>

{{end}}
