{{define "com.form.input" -}}

{{$type := .Props.Type}}
{{$name := .Props.Name}}
{{$id := or .Props.ID (printf "form__%v" $name)}}
{{$label := .Props.Label}}
{{$hint := .Props.Hint}}
{{$description := .Props.Description}}
{{$placeholder := .Props.Placeholder}}
{{$value := or .Props.Value (.Form.Get $name)}}
{{$required := .Props.Required}}
{{$autocomplete := .Props.Autocomplete}}
{{$autofocus := .Props.Autofocus}}
{{$accept := .Props.Accept}}
{{$disabled := .Props.Disabled}}
{{$pattern := .Props.Pattern}}
{{$minlength := .Props.MinLength}}
{{$maxlength := .Props.MaxLength}}
{{$showmaxcount := .Props.ShowMaxCount}}
{{$error := .Errors.Get (ReplaceAll $name "-" " ")}}

{{if not $type}}{{.Log.Warn "com.form.input: missing required prop: Type"}}{{end}}
{{if not $name}}{{.Log.Warn "com.form.input: missing required prop: Name"}}{{end}}

{{if $label}}
	<label
		for="{{$id}}"
		{{if $required}}class="required"{{end}}
	>
		{{$label}}
		{{- if $hint}} <small>{{$hint}}</small>{{end -}}
	</label>
{{end}}

{{range $paragraph := $description}}
	<p>{{$paragraph}}</p>
{{end}}

<input
	{{if or $id $label}}id="{{$id}}"{{end}}
	type="{{$type}}"
	name="{{$name}}"
	{{if $value}}value="{{$value}}"{{end}}
	{{if $placeholder}}placeholder="{{$placeholder}}"{{end}}
	{{if $autocomplete}}autocomplete="{{$autocomplete}}"{{end}}
	{{if $autofocus}}autofocus{{end}}
	{{if $pattern}}pattern="{{$pattern}}"{{end}}
	{{if $minlength}}minlength="{{$minlength}}"{{end}}
	{{if $maxlength}}maxlength="{{$maxlength}}"{{end}}
	{{if $required}}required{{end}}
	{{if $disabled}}disabled{{end}}
	{{if $accept}}accept="{{$accept}}"{{end}}
	{{if $error}}class="invalid"{{end}}
>

<div class="bag">
	<p class="error grow" data-locale-number>{{$error}}</p>
	{{if and $showmaxcount $id $maxlength}}
		<small data-char-count-for="{{$id}}" class="push-inline-end">Max. {{$maxlength}}</small>
	{{end}}
</div>

{{- end}}
