{{define "com.form.password" -}}

{{$minlength := 8}}
{{$hint := ""}}
{{if eq .Props.Autocomplete "new-password"}}
	{{$hint = .T "com.form.password.default_hint" "min_length" $minlength}}
{{end}}
{{$hint = or .Props.Hint $hint}}

{{$placeholder := or .Props.Placeholder (.T "com.form.password.default_placeholder")}}

{{template "com.form.input" .WithProps
	"Props" .Props
	"Type" "password"
	"Hint" $hint
	"Placeholder" $placeholder
	"Pattern" `^.+$`
	"MinLength" $minlength
	"MaxLength" 1000
}}

{{- end}}
