{{define "view_head"}}

<div class="center">
	<h1>Editing {{.Vars.User.Email}}</h1>
</div>

{{end}}

{{define "view_body"}}

{{$isEditUserSuper := .Vars.User.IsSuper}}
{{$canAssignSuperRole := .Passport.CanAssignSuperRole $.Vars.User.ID}}
{{$canChangeRoles := .Passport.CanChangeRoles $.Vars.User.ID}}
{{$cannotChangeRoles := not $canChangeRoles}}
{{$canUpdate := $canChangeRoles}}

<div class="center">
	{{if eq .Vars.User.ID .Session.UserID}}
		<div class="warning-banner">
			<p>You are currently editing yourself.</p>
			<p>Any changes you make here may affect your current browsing session, so avoid making any changes you are unsure of.</p>
		</div>
	{{end}}

	<form action="{{Path "account.management.user.edit.post" ":userID" .Vars.User.ID}}" method="POST">
		<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

		{{if $isEditUserSuper}}
			<input type="hidden" name="roles" value="{{.Vars.SuperRole.ID}}">
		{{end}}

		<b>Roles</b>

		<div class="cols-2">
			{{$roleIDs := $.Form.GetAllOr "roles" .Vars.UserRoleIDs}}
			{{if $cannotChangeRoles}}
				{{$roleIDs = ToStrings .Vars.UserRoleIDs}}
			{{end}}

			{{range .Vars.Roles}}
				{{$isSuperRole := eq .ID $.Vars.SuperRole.ID}}
				{{$isChecked := HasString $roleIDs .ID}}
				{{$isDisabled := or $cannotChangeRoles $isSuperRole}}

				<label>
					<input
						type="checkbox"
						name="roles"
						value="{{.ID}}"
						{{if $isChecked}}checked{{end}}
						{{if $isDisabled}}disabled{{end}}
					>
					{{.Name}}
				</label>
			{{end}}
		</div>

		{{if and $canAssignSuperRole (not $isEditUserSuper)}}
			<details>
				<summary>I want to give this user the "super" role</summary>

				<div class="warning-box">
					<p>Once a user has been given the "super" role it <i>cannot be removed</i>.</p>
					<p>Please think carefully about whether this is actually what you need to do, or whether another role would be more appropriate.</p>

					<p>
						<label>
							<input type="checkbox" name="roles" value="{{.Vars.SuperRole.ID}}">
							I understand this <b>cannot be undone</b>, give this user the "super" role
						</label>
					</p>
				</div>
			</details>
		{{end}}

		<div class="bag reverse">
			<button type="submit" class="push-inline-end"{{if not $canUpdate}} disabled{{end}}>Update user</button>

			<a href="{{Path "account.management.user.list"}}{{.URL.Query.String}}">Cancel</a>
		</div>
	</form>
</div>

{{end}}
