{{define "view_head"}}

<div class="center">
	<h1>Editing {{.Vars.User.Email}}</h1>
</div>

{{end}}

{{define "view_body"}}

{{$canChangeRoles := .Passport.CanChangeRoles $.Vars.User.ID}}
{{$canUpdate := $canChangeRoles}}

<div class="center">
	<form action="{{Path "account.management.user.edit.post" ":userID" .Vars.User.ID}}" method="POST">
		<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

		<b>Roles</b>

		<div class="cols-2">
			{{$roleIDs := $.Form.GetAllOr "roles" .Vars.UserRoleIDs}}
			{{if not ($canChangeRoles)}}
				{{$roleIDs = ToStrings .Vars.UserRoleIDs}}
			{{end}}

			{{range .Vars.Roles}}
				<label>
					<input
						type="checkbox"
						name="roles"
						value="{{.ID}}"
						{{if HasString $roleIDs .ID}}checked{{end}}
						{{if not ($canChangeRoles)}}disabled{{end}}
					>
					{{.Name}}
				</label>
			{{end}}
		</div>

		<div class="bag reverse">
			<button type="submit" class="push-inline-end"{{if not $canUpdate}} disabled{{end}}>Update user</button>

			<a href="{{Path "account.management.user.list"}}{{.URL.Query.String}}">Cancel</a>
		</div>
	</form>
</div>

{{end}}
