{{define "view"}}

<h1>User management</h1>

<form class="bag">
	<input type="search" aria-label="Search" name="search" value="{{.URL.Query.Get "search"}}" placeholder="Search" class="grow">
	<button>Search</button>
</form>

<table class="management">
	<tr>
		<th>Email</th>
		<th>Last sign in</th>
		<th></th>
	</tr>

	{{range .Vars.Users.Page.Rows}}
		<tr>
			<td><a href="mailto:{{.Email}}">{{.Email}}</a></td>
			<td>
				{{if not .LastSignedInAt.IsZero}}
					<time datetime="{{FormatTime .LastSignedInAt "RFC3339"}}" data-date="full">{{FormatTime .LastSignedInAt "DateTime"}}</time>
				{{end}}
			</td>
			<td class="text-right"><a href="{{Path "account.management.user.edit" ":userID" .ID}}{{$.URL.Query.String}}">Edit</a></td>
		</tr>
	{{else}}
		<tr class="management__empty">
			<td colspan="3">No data found</td>
		</tr>
	{{end}}
</table>

{{template "com_pagination" .ComData .Vars.Users}}

{{end}}
