{{define "com.form.input" -}}

{{$type := or .Props.Type ""}}
{{$name := .Props.Name}}
{{$id := or .Props.ID (printf "form__%v" $name)}}
{{$index := .Props.Index}}
{{if ne $index nil}}
	{{$id = printf "%v_%v" $id $index}}
{{end}}
{{$label := .Props.Label}}
{{$hint := .Props.Hint}}
{{$description := .Props.Description}}
{{$placeholder := .Props.Placeholder}}
{{$value := .Props.Value}}
{{if not $value}}
	{{if eq $index nil}}
		{{$value = .Form.Get $name}}
	{{else}}
		{{$value = .Form.GetIndexOr $index $name ""}}
	{{end}}
{{end}}
{{$required := .Props.Required}}
{{$autocomplete := .Props.Autocomplete}}
{{$autofocus := .Props.Autofocus}}
{{$accept := .Props.Accept}}
{{$disabled := .Props.Disabled}}
{{$tabindex := .Props.TabIndex}}
{{$pattern := .Props.Pattern}}
{{$min := .Props.Min}}
{{$max := .Props.Max}}
{{$minlength := .Props.MinLength}}
{{$maxlength := .Props.MaxLength}}
{{$showmaxcount := .Props.ShowMaxCount}}
{{$data := .Props.Data}}
{{$errorkey := ReplaceAll $name "-" " "}}
{{if ne $index nil}}
	{{$errorkey = printf "%v %v" $errorkey $index}}
{{end}}
{{$error := .Errors.Get $errorkey}}

{{if not $type}}{{.Log.Warn "com.form.input: missing required prop: Type"}}{{end}}
{{if not $name}}{{.Log.Warn "com.form.input: missing required prop: Name"}}{{end}}

{{if $label}}
	<label
		for="{{$id}}"
		{{if $required}}class="required"{{end}}
	>
		{{$label}}
		{{- if $hint}} <small>{{$hint}}</small>{{end -}}
	</label>
{{end}}

{{range $paragraph := $description}}
	<p>{{$paragraph}}</p>
{{end}}

<input
	{{if or $id $label}}id="{{$id}}"{{end}}
	type="{{$type}}"
	name="{{$name}}"
	{{if $value}}value="{{$value}}"{{end}}
	{{if $placeholder}}placeholder="{{$placeholder}}"{{end}}
	{{if $autocomplete}}autocomplete="{{$autocomplete}}"{{end}}
	{{if $autofocus}}autofocus{{end}}
	{{if $tabindex}}tabindex="{{$tabindex}}"{{end}}
	{{if $pattern}}pattern="{{$pattern}}"{{end}}
	{{if ne $min nil}}min="{{$min}}"{{end}}
	{{if ne $max nil}}max="{{$max}}"{{end}}
	{{if ne $minlength nil}}minlength="{{$minlength}}"{{end}}
	{{if ne $maxlength nil}}maxlength="{{$maxlength}}"{{end}}
	{{if $required}}required{{end}}
	{{if $disabled}}disabled{{end}}
	{{if $accept}}accept="{{$accept}}"{{end}}
	{{if $error}}class="invalid"{{end}}
	{{range $key, $value := $data -}}
		data-{{UnescapeHTMLAttr $key}}="{{$value}}"
	{{end}}
>

<div class="bag">
	<p class="error grow">{{.T $error}}</p>
	{{if and $showmaxcount $id $maxlength}}
		<small data-char-count-for="{{$id}}" class="push-inline-end">{{.T "com.form.input.max_length_hint" "max_length" $maxlength}}</small>
	{{end}}
</div>

{{- end}}
