{{define "view.master"}}{{template "master.site" .}}{{end}}

{{define "view.head"}}

<div class="center">
	<h1>{{.T "site.account.sign_in.recovery_code.title"}}</h1>
</div>

{{end}}

{{define "view.body"}}

<div class="center">
	{{.T "p" "site.account.sign_in.recovery_code.message"}}

	<form action="{{Path "account.sign_in.recovery_code.post"}}" method="POST">
		{{template "com.form.csrf" .}}

		{{template "com.form.recovery_code" .WithProps
			"Label" (.T "site.account.sign_in.recovery_code.recovery_code_label")
			"Name" "recovery-code"
			"Required" true
			"Autocomplete" "off"
			"Autofocus" true
		}}

		<div class="bag reverse">
			<button class="push-inline-end">{{.T "site.account.sign_in.recovery_code.sign_in_button"}}</button>

			<a href="{{Path "account.sign_in.totp"}}">{{.T "site.account.sign_in.recovery_code.use_passcode_button"}}</a>
		</div>
	</form>
</div>

{{end}}
