{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<div class="center">
	<h1>Choose a password</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	<p>Choosing a password will enable you to sign in directly through the <a href="{{Path "account.sign_in"}}">sign in form</a>.</p>
	<p>It's also a requirement for setting up two-factor authentication. This is because if you decide to disable two-factor authentication later on we'll need to verify your identity by asking you for your password.</p>

	<form action="{{Path "account.choose_password.post"}}" method="POST">
		<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

		<label for="choose-password__new-password">New password</label>
		<input id="choose-password__new-password" type="password" name="new-password" value="{{.Form.Get "new-password"}}" placeholder="new password" autocomplete="new-password" required pattern="^.+$" minlength="8" maxlength="1000">
		<p class="error">{{.Errors.Get "new password"}}</p>

		<div class="bag reverse">
			<button type="submit">Use this password{{if .Session.Redirect}} and continue{{end}}</button>
		</div>
	</form>
</div>

{{end}}
