{{define "view_head"}}

<div class="center">
	{{if .Vars.NewPasswordKnownBreachCount}}
		<h1>Confirm change password</h1>
	{{else}}
		<h1>Change password</h1>
	{{end}}
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	{{if .Vars.NewPasswordKnownBreachCount}}
		<div class="warning-banner">
			<p>
				Your password has not been changed yet because it appears <span data-locale-number>{{.Vars.NewPasswordKnownBreachCount}}</span> {{if gt .Vars.NewPasswordKnownBreachCount 1}}times{{else}}time{{end}}
				in a <a href="https://haveibeenpwned.com" target="_blank" rel="noopener noreferrer">database of security breaches</a> and isn't considered to be secure.
			</p>
		</div>
		<p>You can continue and use this password, but we recommend that you choose a more secure one.</p>
	{{else if .Session.PasswordKnownBreachCount}}
		<div class="warning-banner">
			<p>
				The password you're currently using appears <span data-locale-number>{{.Session.PasswordKnownBreachCount}}</span> {{if gt .Session.PasswordKnownBreachCount 1}}times{{else}}time{{end}}
				in a <a href="https://haveibeenpwned.com" target="_blank" rel="noopener noreferrer">database of security breaches</a> and isn't considered to be secure.
			</p>
			<p>We recommend that you change this password to a more secure one as soon as possible.</p>
		</div>
	{{end}}

	<details>
		<summary>How do I choose a good password?</summary>

		<p>
			A good pass<u>word</u> should be long, but even better is a long pass<u>phrase</u>.
			Passphrases can be normal sentences, making them easier for you to remember, but making it hard for other people to guess.
		</p>
		<p>It's okay to use spaces in the form below, so why not try coming up with a memorable passphrase to use now?</p>
	</details>

	<form action="{{Path "account.change_password.post"}}" method="POST">
		<input type="hidden" name="_csrf" value="{{.CSRF.Token}}">

		{{if .Vars.NewPasswordKnownBreachCount}}
			<input type="hidden" name="old-password" value="{{.Form.Get "old-password"}}">
			<input type="hidden" name="insecure-password" value="{{.Form.Get "new-password"}}">

			<label for="change-password__new-password">New password</label>
			<input id="change-password__new-password" type="password" name="new-password" value="{{.Form.Get "new-password"}}" placeholder="new password" autocomplete="new-password" required pattern="[ -~]{8,100}" minlength="8" maxlength="100">
			<p class="error">{{.Errors.Get "new password"}}</p>

			<div class="bag reverse">
				<button type="submit">Use this password{{if .Session.Redirect}} and continue{{end}}</button>
			</div>
		{{else}}
			<label for="change-password__old-password">Old password</label>
			<input id="change-password__old-password" type="password" name="old-password" value="{{.Form.Get "old-password"}}" placeholder="old password" autocomplete="current-password" required pattern="[ -~]{8,100}" minlength="8" maxlength="100">
			<p class="error">{{.Errors.Get "old password"}}</p>

			<label for="change-password__new-password">New password</label>
			<input id="change-password__new-password" type="password" name="new-password" value="{{.Form.Get "new-password"}}" placeholder="new password" autocomplete="new-password" required pattern="[ -~]{8,100}" minlength="8" maxlength="100">
			<p class="error">{{.Errors.Get "new password"}}</p>

			<div class="bag reverse">
				<button type="submit">Update password{{if .Session.Redirect}} and continue{{end}}</button>

				{{if .Session.Redirect}}
					<a href="{{.Session.Redirect}}" class="btn btn--alt">Change later</a>
				{{end}}
			</div>
		{{end}}
	</form>
</div>

{{end}}
