{{define "view"}}

<div class="change-password center">
	<p class="title">Password Changed</p>

	<p>Your password has been successfully changed. You will need to use your new password when logging in from now on.</p>
</div>

{{end}}
