{{define "view"}}

<div class="change-password center">
	<h1>Password changed</h1>

	<p>Your password has been successfully changed. You will need to use your new password when logging in from now on.</p>
</div>

{{end}}
