@layer reset, universal, utility, components;

:root {
  --ff-primary:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji";

  --clr-black-100: hsl(170 0% 60%);
  --clr-black-400: hsl(170 0% 5%);

  --clr-white-400: hsl(170 0% 100%);

  --clr-accent-400: hsl(170 45% 40%);

  --clr-focus-400: hsl(59 100% 90%);

  --clr-valid-400: hsl(126 100% 50%);

  --clr-invalid-100: hsl(0 100% 90%);
  --clr-invalid-400: hsl(0 100% 50%);
}

@layer reset {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html:focus-within {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    line-height: 1.3;
    text-rendering: optimizeSpeed;
  }

  img, picture {
    display: block;
    max-inline-size: 100%;
  }

  button, input, select, textarea {
    font: inherit;
  }
}

@layer universal {
  html {
    font-family: var(--ff-primary);
    font-size: 0.875rem;
  }

  body {
    background: var(--clr-white-400);
    color: var(--clr-black-400);
    padding-inline: 1rem;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin-block-start: 0;
  }

  hr {
    inline-size: 100%;
    border: none;
    border-block: 1px solid var(--clr-black-100);
  }

  button, input {
    min-height: 1.5rem;
  }

  input, textarea {
    border: 1px solid var(--clr-black-100);
  }

  button, input, textarea {
    padding-block: 0.4rem;
    padding-inline: 0.6rem;
  }

  button {
    padding-inline: 1rem;
    background: var(--clr-accent-400);
    color: var(--clr-white-400);
    border: none;
  }

  :focus-visible:is(input, textarea) {
    outline-style: solid;
    outline-width: 0.1rem;
  }

  :is(input, textarea):invalid,
  [data-invalid] :is(input, textarea):invalid {
    background: var(--clr-invalid-100);
    outline-color: var(--clr-invalid-400);
  }

  :is(input, textarea):invalid:focus {
    background: var(--clr-focus-400);
  }

  :is(input, textarea):valid:focus {
    outline-color: var(--clr-valid-400);
  }

  :is(input, textarea):placeholder-shown {
    background: white;
  }

  label:has(+ [required])::after {
    content: "*";
    color: red;
    margin-inline-start: 0.2em;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  form label,
  form input,
  form textarea,
  form button {
    display: block;
  }
}

@layer components {
  .header,
  .main,
  .footer {
    max-width: 960px;
    margin-inline: auto;
  }

  .header {
    display: flex;
    flex-direction: column;
    padding-block-end: 2rem;
  }

  .main {
    padding-block: 2rem;
  }

  .footer {
    display: grid;
    gap: 1rem;
    padding-block-start: 2rem;
  }

  .nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
  }

  .nav li {
    list-style: none;
  }

  .nav a {
    display: block;
    padding-block: 0.6rem;
    padding-inline: 1rem;
  }

  .register {
    max-width: 400px;
    margin-inline: auto;
    border: 1px solid var(--clr-black-100);
    border-radius: 3px;
    padding: 1rem;
  }

  .bag {
    display: flex;
  }

  @media screen and (min-width: 400px) {
    .header {
      flex-direction: row;
    }

    .nav {
      margin-inline-start: auto;
    }

    .footer {
      grid-template-columns: repeat(2, 1fr);
    }

    .footer__col:nth-child(2n) {
      text-align: right;
    }
  }

  @media screen and (min-width: 600px) {
    .footer {
      grid-template-columns: repeat(4, 1fr);
    }

    .footer__col:nth-child(-n+2) {
      text-align: left;
    }

    .footer__col:nth-last-child(-n+2) {
      text-align: right;
    }
  }
}

@layer utility {
  .site-title {
    margin: 0;
    padding-block: 0.6rem;
    padding-inline: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
  }

  .title {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .push-inline-end {
    margin-inline-start: auto;
  }
}
