{{define "master"}}{{template "master_site" .}}{{end}}

{{define "view_head"}}

<div class="center">
	<h1>Sign up</h1>
</div>

{{end}}

{{define "view_body"}}

<div class="center">
	{{if .Config.SignUpEnabled}}
		<p>You'll be able to choose your password after verifying your email address.</p>

		<form action="{{Path "account.sign_up.post"}}" method="POST">
			{{template "com_csrf_input" .}}

			{{template "com_email_input" .WithProps
				"Label" "Email"
				"Name" "email"
				"Required" true
				"Autocomplete" "username"
			}}

			<div class="bag reverse">
				<button type="submit" class="push-inline-end">Sign up</button>

				<a href="{{Path "account.sign_in"}}{{.URL.Query.String}}">Already have an account?</a>
			</div>
		</form>
	{{else}}
		<p>Sign up is disabled for this application.</p>
	{{end}}
</div>

{{end}}
